[2014-07-11 23:16] ghost opened #10 "Option to hide AutoPkgr icon in dock."
Would be nice to minimize footprint by having the option to hide the dock icon. The menu bar icon would still be visible.

[2014-07-11 23:19] ghost opened #11 ""Start AutoPkgr at login" option."
Would be a nice checkbox to include on the Install tab.

[2014-07-11 23:22] ghost opened #12 "Link Help menu to the readme file."
Instead of saying "No help is available for AutoPkgr" it would be nice to have the AutoPkgr Help menu item open the readme.html file.

[2014-07-11 23:27] ghost opened #13 "Refinements to the Repositories checkbox list"
Instead of checkboxes to the left of repo names, how about a small [ADD] button. Once the repos have been added, it changes to a [REMOVE] button. This indicates immediate action, as opposed to a checkbox which indicates deferred action.

[2014-07-11 23:29] ghost opened #14 "Major improvements to the repositories/apps tab"
In order to use AutoPkg, you really don't need to know which repositories you've added. All you care about is whether you are subscribed to the apps you care about.

To that end, let's just show a list of common applications with a [SUBSCRIBE] button for each app. There should also be a search box so that users could find apps that aren't on our "common applications" list. This would use the `auto

[2014-07-11 23:31] ghost opened #15 ""Local Munki repo" field could be in a better spot"
It doesn't really belong in its current spot. It makes it look like it's part of the Available Applications list somehow. Let's think about how that could be improved.

[2014-07-11 23:32] ghost opened #16 "SMTP server availability indicator"
Upon entering an SMTP server and a port, a green or red light would show whether the server is responding on that port.

[2014-07-11 23:42] ghost opened #17 "Email notification settings should dim when not applicable"
When the "Send email notifications" box is unchecked, all dependent fields and buttons should dim out, including the "Use authentication" box and its children, and the Send Test Email button.

Likewise, when the "Use authentication" box is unchecked, all of its children should dim.

[2014-07-12 00:01] ghost opened #18 "Ability to filter available applications (recipes) by all | munki | download | pkg"
A segmented control, like this:

![screen shot 2014-07-11 at 5 01 25 pm](https://cloud.githubusercontent.com/assets/7375769/3560035/ba54b586-0957-11e4-985e-7a2eaf1066de.png)

Defaults to "All" of course.

[2014-07-12 00:04] ghost opened #19 "Remove "Save and Close" button"
The implication is that all changes are saved immediately.

There's precedent for this in Dropbox's settings window.

[2014-07-12 00:06] ghost opened #20 ""Local Munki repo" Choose button doesn't work yet"
Should open a standard file picker allowing selection of a folder.

Default open location to /Users/Shared.

[2014-07-12 00:07] ghost opened #21 "Hook up repo search function"

[2014-07-12 00:08] ghost opened #22 "Hook up app search function"
Do we want to leverage `autopkg search` for this?

[2014-07-12 00:24] ghost opened #23 "Improvements to first-run experience"
Instead of throwing new users into the buttons-and-checkboxes interface, perhaps we could model the first run on the Mac OS X setup assistant, or the Dropbox setup assistant.

1. First page: welcome to AutoPkgr, one-click install of all needed components.
2. Second page: a selection of common applications and their icons, with easy "Subscribe" buttons underneath. Also, a search box for finding add

[2014-07-13 07:16] #17 closed, assigned to nobody

[2014-07-14 01:15] #21 closed, assigned to nobody

[2014-07-14 01:17] #22 closed, assigned to nobody

[2014-07-14 20:49] #20 closed, assigned to nobody

[2014-07-14 20:52] alwaysdns opened #29 "Repo boxes slow to check"
It seems to require a highlight, then a separate click in order to get a checkbox checked under repositories.

Also, some documentation about the briefcase icon in the menubar would be nice. :-)

Slick app. FTW

[2014-07-14 20:53] ghost opened #30 "Show feedback when "Check Apps Now" is in progress"
Could be the standard spinning sprocket:
![loadingbar](https://cloud.githubusercontent.com/assets/7375769/3577063/e6ba5778-0b98-11e4-88ec-8e813ac5be48.gif)

[2014-07-14 21:04] ghost opened #31 "Improved compatibility with earlier versions of OS X"
This one is for Anthony.

[2014-07-14 21:11] rtrouton opened #32 "Better formatted email notifications"
I like that I can get email notifications, but the readability of the emails could use some improvement. Would it be possible to change the email format from the current format?

![screen shot 2014-07-14 at 5 02 25 pm](https://cloud.githubusercontent.com/assets/618055/3577291/2d6fc35e-0b9b-11e4-9756-1e4adccf9956.png)

I would prefer something more like this, where what recipes have been run and wh

[2014-07-14 22:22] #31 closed, assigned to nobody

[2014-07-15 01:55] MScottBlake opened #35 "Don't require save before testing email"
It's not very intuitive that you have to Save & Close, re-open config, then test email settings.

[2014-07-15 03:16] luisgiraldo opened #36 "Expand containers if resizing windows"
When resizing the AutoPkgr window, other containers within stay the same size. It would be nice to have them resize as well, in order to be able to see more of their contents.
![screenshot 2014-07-14 20 15 24](https://cloud.githubusercontent.com/assets/2345656/3580127/6f719aec-0bce-11e4-8659-46a4f04c14c7.png)

[2014-07-15 03:19] luisgiraldo opened #37 "Duplicate repositories listed"
It seems some repositories are pre-indexed? AutoPkgr seems to be displaying duplicate repositories for the ones I had added via command line prior to using AutoPkgr.

[2014-07-15 04:16] luisgiraldo opened #38 "Crash if attempting to send test email without saving settings"
Upon first launch, I attempted sending a test email before I had saved any settings. The app crashed. Subsequent attempts after the email settings had been saved didn’t crash, but the test email seemingly never sent, as I’ve attempted to 5 or 6 tests but none have arrived.

[2014-07-15 04:56] gregneagle opened #39 ""Available Applications" should be "Available Recipes""
Since AutoPkg doesn't only download _applications_, and there can be multiple recipes for a given piece of software, I think it is confusing to label the list of available recipes "Available Applications". I think it should be labeled "Available Recipes", or even, "Recipes".

[2014-07-15 05:02] gregneagle opened #40 "Unavailable buttons in "Tools" pane"
On first launch of AutoPkgr, the buttons in the Tools pane are grayed-out and unavailable, with the exception of "Warn before quitting..."

Since I have not yet told AutoPkgr where to find my Munki repo, I understand why that button is unavailable. But if I have an existing ~/Library/AutoPkg folder, why are the buttons to open the AutoPkg Cache folder and RecipeRepos folder unavailable?

[2014-07-15 05:05] gregneagle opened #41 "Confusing "Save and Close" button in Install pane"
Why is there a "Save and Close" button in the Install pane? There are no changes that can be made there that need to be "saved".

[2014-07-15 05:13] gregneagle opened #42 "Inconsistent button behavior in Install pane"
When AutoPkgr detects that Git and AutoPkg are installed, it shows a "green light" for each item, with the message "Git/AutoPkg has been installed" (Nitpick: perhaps this should be "Git/AutoPkg is currently installed" or similar)

But the "Install..." buttons are available. I'd think they should be grayed out. Oh, maybe they aren't so you can use them to install a newer version of the Git and/or A

[2014-07-15 05:13] #32 closed, assigned to nobody

[2014-07-15 05:38] #39 closed, assigned to nobody

[2014-07-15 13:21] diwanicki opened #44 "Customize the Email address alerts are sent from"
If you do not need authentication to the SMTP server, it is not apparent where you can set the "from" account info. This is particularly useful for filtering at the receiving end.

[2014-07-15 14:12] quovadimus opened #45 "unable to check boxes for repositories"
I am unable to check the boxes next to the repositories to select them.  I also attempted to add a new repo URL manually and the box reset when I clicked add, but it did not appear in the repository list.
I tried this on 10.9.3 and 10.9.4 with autopkg already installed.

Thanks

[2014-07-15 15:20] #18 closed, assigned to nobody

[2014-07-15 20:46] MScottBlake opened #46 "Can't send email through Office365"
Using outlook.office365.com port 587 and the correct credentials using SSL gives the following error:

[code]

As a test, I changed the connectionType in LGEmailer.m:29 to "MCOConnectionTypeStartTLS". After testing the email again, I got a different error message:

[code]

It is authenticating properly now, but still not sending.

Does anyone have any tips you can provide in order for me to make a

[2014-07-15 21:24] alwaysdns opened #47 "Many emails for the same app"
I received emails at 3:50 am and 4:04 am this morning - both for the same app. And it did it again at 3:50 pm and 4:05 pm.

[2014-07-15 21:58] #47 closed, assigned to nobody

[2014-07-15 22:58] homebysix opened #49 "Allow automatic scheduled updating of repos"
AutoPkgr already checks for new repo updates upon launch, but would be nice to have it check on a scheduled basis as well.

[2014-07-16 19:48] thenikola opened #52 "Send Test Email should give status if emails failed"
When you use the "Send Test Email" and the emails fail they do not give any error or indication that it has failed.

It would be nice if it could give some kind of status after sending.

[2014-07-17 22:47] homebysix opened #53 "Add "Check Now" option to the menulet"

[2014-07-17 23:58] homebysix opened #55 "Friendlier alerts in logs"
I'd propose changing this...

`NSLog(@"Unable to get CACHE_DIR from the com.github.autopkg preference domain. Using the default path of %@.", autoPkgCacheFolder);`

...to this:

`NSLog(@"CACHE_DIR is not specified in the com.github.autopkg preference domain. Using the default path of %@ instead.", autoPkgCacheFolder);`

Makes it sound less alarming. Super low priority.

[2014-07-18 05:57] #37 closed, assigned to jsenick

[2014-07-18 07:30] #55 closed, assigned to nobody

[2014-07-18 07:32] #53 closed, assigned to nobody

[2014-07-18 11:58] ygini opened #59 "10.6+ support"
AutoPkg support 10,6 and more. Since it's pretty common to use an old system to host things like munki and all management tools, it could be useful to make AutoPkgr compatible with the same system than AutoPkg.

[2014-07-18 17:30] futureimperfect opened #60 "Add support for recipe overrides and recipe creation/editing"
We should add support for creating recipe overrides and creating/reading/updating/deleting custom AutoPkg recipes at some point.

I still need to think about the workflow and how I'm going to implement this.

[2014-07-18 21:58] WTaylorA opened #61 "Autopkgr not installing Git or AutoPKG"
D/L AutoPkgr w/out issue, upon 1st launch, it tells me that Git and AutoPKG have been installed (without prompting for any admin credentials).  Quit out, and re-open, and it now says that Git is installed, but AutoPkg is not.  Clicking either of the "Install" buttons prompts for admin credentials, but does not actually run the installer.  Running "git" in the terminal produces the prompt to instal

[2014-07-20 12:32] Tecnico1931 opened #63 ""Check Apps Now" not working"
7/19/14 10:10:43.877 PM AutoPkgr[2842]: Could not serialize the plist. Error: Error Domain=NSCocoaErrorDomain Code=3840 "The data couldn’t be read because it isn’t in the correct format." (Cannot parse a NULL or zero-length data) UserInfo=0x7fb118d26ba0 {NSDebugDescription=Cannot parse a NULL or zero-length data}.

[2014-07-21 00:32] #19 closed, assigned to jsenick

[2014-07-21 00:32] #35 closed, assigned to jsenick

[2014-07-21 00:32] #41 closed, assigned to jsenick

[2014-07-21 00:32] #44 closed, assigned to jsenick

[2014-07-21 00:36] #42 closed, assigned to nobody

[2014-07-21 00:40] #59 closed, assigned to nobody

[2014-07-21 00:41] #46 closed, assigned to nobody

[2014-07-21 00:45] #38 closed, assigned to nobody

[2014-07-21 05:58] #40 closed, assigned to nobody

[2014-07-21 15:58] #15 closed, assigned to nobody

[2014-07-21 16:00] #13 closed, assigned to nobody

[2014-07-22 00:55] #36 closed, assigned to nobody

[2014-07-22 13:47] diwanicki opened #70 "Add option to change location where AutoPkgr saves its caches"
So the repository can be located on a different volume, instead of in the Library of the user account which launched the application.

[2014-07-22 13:49] diwanicki opened #71 "Add option to change which user AutoPkgr runs as"
Account which is used to configure in the GUI may not necessarily be the account in which the daemon should run...

[2014-07-22 13:56] diwanicki opened #72 "Add option to run AutoPkgr as a LaunchDaemon"
Ties into #70 and #71

AutoPkgr should be able to run unattented outside of a logged in user GUI. When running in this mode and a GUI user logs in, the menu icon should be loaded to indicate AutoPkgr is already running in the background and the AutoPkgr GUI should display status of Daemon, user it is running under, and option to load/unload/quit&relaunch.

ie: load = run in 'standalone' mode

[2014-07-22 14:01] diwanicki opened #73 "Many missing recipes - v1.0.1"
I enabled all recipe repos, yet many of the common recipes are still missing, including Adobe Flash, Office for Mac, Chrome, Firefox, etc.

[2014-07-22 22:19] homebysix opened #74 "Make sure MakeCatalogs.munki is included in recipe_list.txt if the user chooses a *.munki recipe"

[2014-07-23 02:09] Tecnico1931 opened #75 "Integrate AllisterB JSS importer"
add jss importer to autopkgr

https://github.com/arubdesu/jss-autopkg-addon

[2014-07-23 15:57] jazzace opened #76 "Adding new repo fails silently if folder already exists in RecipeRepos"
OK, obscure situation, but not the best user behaviour.

After setting up AutoPkg using AutoPkgr, I found it necessary to craft my own recipes. I decided to manually create a folder in RecipeRepos that would match the path of my eventual GitHub recipe repo and manually put the recipes in there. When I determined that I couldn't run the recipes this way, I put the test recipes in a repo on GitHub a

[2014-07-23 18:55] homebysix opened #77 "AutoPkgr mis-reporting version number of downloaded packages"
When GitHub version 185 appeared, here was the resulting plist:

Looks good. However, here was the email I received:

So it looks like the version number isn't being read from the right location.

[2014-07-24 18:38] timsutton opened #78 "Install latest AutoPkg using package rather than install.sh"
As here: https://github.com/lindegroup/autopkgr/blob/3a77f497447651bfd31082ebfa906eff508386cd/AutoPkgr/LGConfigurationWindowController.m#L499

That script was originally written to bootstrap an install, and while it does work, installing AutoPkg using the package installers posted on /releases is always the preferred way.

Since you already have code to elevate to root for installing CLI tools and

[2014-07-24 20:52] scriptingosx opened #79 "Option to send local notifications instead or in addition of emails"
While the option of sending emails is certainly useful I would also like to have a local feedback on the screen. Could you add local notifications if an update is available?

[2014-07-28 05:18] malroy opened #81 "Launch and no main window appeared for autopkgr"
Hi there,

It seems i like to break things, i launch autopkgr 1.0.1 and there is no main windows appeared , The application is running and there is menu bar but the main window refuse to run/appear.

just before this issue appear , i was trying to tick on all the repository and update and it crashed. after crash , the main windows refuse to appear.

REgards
Roy

[2014-07-28 15:03] #81 closed, assigned to futureimperfect

[2014-07-28 15:14] #78 closed, assigned to futureimperfect

[2014-07-28 23:28] homebysix opened #83 "AutoPkgr configuration window launches in the background"
Upon selecting Configure from the menu icon, sometimes the AutoPkgr window does not appear because it's buried behind other apps.

Would be nice to have it automatically jump to the front.

[2014-07-28 23:43] homebysix opened #84 "Give feedback when "Check Apps Now" or "Update Repos Now" is clicked."
I added spinning indicators for these in the "progress-indicators" branch.

Behavior:
By default, no spinner is visible.
When "Check Apps Now" or "Update Repos Now" is clicked, the spinner appears.
When the operation is complete, the spinner disappears.

This way we don't leave people guessing about whether the buttons have actually worked.

[2014-07-29 03:51] MScottBlake opened #85 "This is our plist: (null)."
When checking for updates, packages are downloaded and packaged correctly, but then no emails are being sent. It looks like this is the culprit:

[code]

I have no idea why it can't read the plist file to see what changed. Any advise?

[2014-07-29 16:43] #63 closed, assigned to nobody

[2014-07-29 20:19] #73 closed, assigned to nobody

[2014-07-30 04:37] jsenick opened #87 "Autopkgr does not reset e-mail password once set"
I came across what appeared to be a bug in SSKeychain while testing the asynchronous test e-mails.  Basically, SSKeychain is unable to change the e-mail password if it's been set once.  After debugging it looks like the issue is SSKeychain tries to delete a key and then add it again, and it's unable to delete the key because our code is not signed, so it fails.  See issues outlined here:  https://

[2014-08-01 21:00] #74 closed, assigned to nobody

[2014-08-06 01:25] #83 closed, assigned to nobody

[2014-08-09 00:08] #52 closed, assigned to jsenick

[2014-08-09 05:54] #84 closed, assigned to nobody

[2014-08-09 05:56] #29 closed, assigned to jsenick

[2014-08-09 05:57] #16 closed, assigned to jsenick

[2014-08-09 05:57] #30 closed, assigned to homebysix

[2014-08-21 06:21] eahrold opened #104 "AutoPkgr should email any error messages along with report"

[2014-08-21 14:00] WardsParadox opened #105 "Status Wheel"
Feature Request
It would be nice if the status bar icon, as well as next to the "Check Apps Now" button, had a status indicator. I understand AutoPkg doesn't have a Percentage done loader, but AutoPkgr could have a status wheel that continues to spin:
1. until the autopkg process is finished.
2. show an exclamation point if there is errors (and a dialog appears with the error)
3. show a checkmark

[2014-08-21 20:08] WardsParadox opened #106 "Make Catalogs is not run last"
If any of the recipes are .munki and MakeCatalogs.munki is selected, MakeCatalogs.munki must be run at the end to prevent duplication issues inside of the Munki Repo.
Not sure how this would be implemented, sorry.

[2014-08-22 20:58] eahrold opened #107 "Only run one recipe"
it the app table view, there should be a column with a button to run an update for the selected recipe

[2014-09-02 22:44] jazzace opened #113 "Cannot update to version 0.4.0 of AutoPkg"
Users who configured AutoPkgr prior to the release of version 0.4.0 of AutoPkg will notice that the Install tab of the Configure window says that AutoPkg is installed but the install button will be lit up, letting the user run the AutoPkg installer. Two problems:
1. Ideally, the button should change to read "Update AutoPkg", and
2. Clicking on that button should update AutoPkg to the current versi

[2014-09-03 19:58] jazzace opened #114 "Local Folders: shaded options do not reflect actual default"
On a Mac that had AutoPkg 0.2.9 already installed (but never configured), I used AutoPkg to update to 0.4.0. In 1.0.2-beta (1), there is a (lovely) new option to set the location for three AutoPkg folders. In grey, the UI shows /Users/Shared/AutoPkg/\* as the default location. If you do not override the location with your own choice, it will actually use AutoPkg's default of ~/Library/AutoPkg/*.

[2014-09-04 04:58] #106 closed, assigned to nobody

[2014-09-04 04:58] #105 closed, assigned to nobody

[2014-09-04 04:58] #76 closed, assigned to jsenick

[2014-09-04 12:43] #70 closed, assigned to eahrold

[2014-09-05 13:36] #114 closed, assigned to nobody

[2014-09-05 15:29] #113 closed, assigned to nobody

[2014-09-05 16:43] homebysix opened #117 ""Check apps now" progress indicator fails to close"
![screen shot 2014-09-05 at 7 52 03 am](https://cloud.githubusercontent.com/assets/7801391/4168288/b4e062fa-351a-11e4-87e2-3d5a67212240.png)

After the last recipe finishes, the progress indicator remains running. It requires force quitting AutoPkgr in order to resolve.

Here's my recipe_list.txt:

[code]

Can somebody else try to repro this issue?

[2014-09-05 16:54] homebysix opened #118 ""Open in Finder" button should be enabled, even if custom folder path isn't specified"
Currently, the "Open in Finder" buttons are only clickable if a custom path has been specified and a folder exists at that path.

I think the behavior should be: The buttons are clickable if a folder exists at either (1) a custom path, if one is specified, or (2) the default path, if no custom path is specified.

![screen shot 2014-09-05 at 9 49 12 am](https://cloud.githubusercontent.com/assets/78

[2014-09-05 20:38] homebysix opened #119 "AutoPkgr launches but neither config window nor menu bar icon appears"
I was able to reproduce this issue on a Mac with OS X Server 10.8.5 installed, using AutoPkgr 1.0.2.

Associated log entry:

[code]

[2014-09-06 00:40] homebysix opened #121 "AutoPkgr spawning lots of Python processes"
After running AutoPkgr for several hours, many Python processes are left active.

Here's what it looks like after running for 4 hours:
![screen shot 2014-09-05 at 4 55 55 pm](https://cloud.githubusercontent.com/assets/7801391/4173607/50184f56-355e-11e4-8501-d7e1a65823dd.png)

And here's what happened right after quitting AutoPkgr:
![screen shot 2014-09-05 at 4 56 49 pm](https://cloud.githubusercon

[2014-09-06 01:17] rtrouton opened #122 "AutoPkgr 1.0.2 never finishes run"
I was testing AutoPkgr 1.0.2 and autopkg 0.4.0 in combination today and saw that AutoPkgr never finished running the recipes list and/or sent me an email with the updates.

Running autopkg 0.4.0 by itself did not have this issue (though autopkg 0.4.0 is not set up to send me emails, so it did not.)

I reverted back to AutoPkgr 1.0.2 and autopkg 0.3.2 and saw the same behavior.

Reverting back to A

[2014-09-06 16:13] #119 closed, assigned to eahrold

[2014-09-08 17:42] eahrold opened #124 "When adding custom repo, the repo does not show up until tableView is made FirstResponder"

[2014-09-09 12:58] eahrold opened #125 "Ability to cancel autopkg run"
It would be nice to have a cancel button on the progress indicator that allowed canceling of the autopkg run.

[2014-09-09 13:47] #77 closed, assigned to nobody

[2014-09-09 13:49] #85 closed, assigned to futureimperfect

[2014-09-09 13:50] #118 closed, assigned to nobody

[2014-09-09 13:51] #122 closed, assigned to futureimperfect

[2014-09-09 13:51] #117 closed, assigned to nobody

[2014-09-09 13:52] #121 closed, assigned to nobody

[2014-09-09 13:53] #104 closed, assigned to homebysix

[2014-09-09 13:54] #45 closed, assigned to jsenick

[2014-09-09 23:40] homebysix opened #126 "v1.0.3 - Certain Macs unable to run manual or scheduled recipe checks"
During our testing, we uncovered a bug that only affects certain Macs. The bug behavior is as follows.
1. Open AutoPkgr and switch to the **Schedule** tab.
2. Click **Check Apps Now**.
3. Observe that the app gets stuck on this indicator:
   ![screen shot 2014-09-09 at 4 36 30 pm](https://cloud.githubusercontent.com/assets/7801391/4210688/8cf0abf2-387a-11e4-87eb-ac34518232d9.png)
   ...and no reci

[2014-09-11 04:43] #125 closed, assigned to eahrold

[2014-09-11 04:59] homebysix opened #128 "Easier access to debug logs"
Lower-level log entries for troubleshooting could be activated by running this command:

[code]

or something similar. Right now the process for enabling debug logging is not very public-friendly.

[2014-09-11 05:32] homebysix opened #129 "Make log output more specific"
It would be nice to round out the messages that AutoPkgr sends to the system log. It logs basic things like recipe checks now, but does log many other things that may be useful. Here are some things I'd love to see in the logs:

When launching and quitting:

[code]

When installing things (or canceling installs):

[code]

When adding/removing/updating repos:

[code]

When adding/removing recipes:

[2014-09-11 10:17] MacsInSpace opened #130 "proxy support"
Just more of a feature request..

Currently I need to do a:

export http_proxy=proxy:8080
export https_proxy=proxy:8080

before running autopkg on the command line to get it to work in our environment.
Any chance of system proxy support?

I've also tried adding this to /etc/profiles with no luck,

[2014-09-11 13:31] alwaysdns opened #131 "Issues after 1.0.3 update"
Hi E,
I got this result tonight after I updated:
"Error running recipes
No valid recipe found for AutoPkg.pkg Could not find parent recipe for GeekTool.pkg No valid recipe found for GeekTool.pkg"

I don't have autopkg.pkg in my recipe list. I do have geektool.pkg in the list (from jleggat, like you). I just did a check Apps Now and got the same message. Disabling the repo and enabling it again doe

[2014-09-11 16:09] #131 closed, assigned to nobody

[2014-09-11 16:30] homebysix opened #132 ""Version not detected": Parse version of new downloads, not just newly built packages"
(Continuation of #77, and also related to [autopkg/#117](https://github.com/autopkg/autopkg/issues/117).)

Right now we're parsing the output of the report-plist to get the version of new packages. However, .download recipes aren't required to report their version number, and so they're frequently omitted, resulting in "Version not detected" in the email notification.

This could be solved by pars

[2014-09-15 21:53] #128 closed, assigned to homebysix

[2014-09-16 15:54] homebysix opened #135 ""Successfully sent email from .""
The "from" email doesn't make it into the logs when no SMTP authentication is being used.

[code]

[2014-09-16 15:58] homebysix opened #136 "Hostname not always accurate in notification emails"
The hostname listed in email notifications is not always accurate.

For example, I occasionally use OpenVPN, and when I receive an AutoPkgr email from my Mac, I get the following subject line:

I think OpenVPN does nasty things to the `/etc/hosts` file, so that maybe part of it. Could we use the output of `hostname` (or the Cocoa equivalent) instead?

My `hostname` output lists my Mac's name corre

[2014-09-16 16:24] homebysix opened #137 "AutoPkgr self-updating"
Would be nice to have AutoPkgr email a notification when there's a new version of AutoPkgr available, if email notifications are turned on. (Even if AutoPkgr isn't in the recipe list.)

Would also be nice to incorporate Sparkle or something similar to give an alert in the GUI itself.

[2014-09-16 19:26] #136 closed, assigned to nobody

[2014-09-16 19:26] #135 closed, assigned to nobody

[2014-09-16 22:49] homebysix opened #139 "Orphaned Python process causes "only one instance" email error to be sent"
I received repeated email messages from two different Macs running AutoPkgr this morning, with the following error:

Quitting and relaunching AutoPkgr did not resolve the problem. Looking in Activity Monitor revealed that there was a Python process running even after AutoPkgr had quit. Killing that process and relaunching AutoPkgr _did_ resolve the issue, and AutoPkgr was able to successfully trig

[2014-09-19 17:22] homebysix opened #142 "Determinate progress bar during repo updates"
Would show which repo is being updated, relative to the total.

Low priority, "would be nice" issue.

[2014-09-22 14:05] #137 closed, assigned to nobody

[2014-09-24 17:32] #61 closed, assigned to eahrold

[2014-09-24 17:32] #139 closed, assigned to nobody

[2014-09-26 05:40] #129 closed, assigned to homebysix

[2014-09-27 00:59] homebysix opened #148 "Recipes table doesn't show new recipes after repo-update"
The recipes table on the Repos & Recipes tab updates fine when adding and removing repos. However, when you update an already-added repo which happens to contain new recipes, the recipes table doesn't reflect to show those recipes.

I just noticed this when I added new recipes to my repo. Clicking Update Repos worked and `autopkg list-recipes` had `NameMangler.pkg`, but the recipes table in AutoPk

[2014-09-27 23:19] homebysix opened #149 "My repo disappears from the repo list"
My repo isn't showing up in the pre-populated list of repos (which is perhaps a different issue) so I added it manually, like so:

![screen shot 2014-09-27 at 4 15 03 pm](https://cloud.githubusercontent.com/assets/7801391/4432567/681f53ac-469c-11e4-8b2c-0fb32454ce4d.png)

AutoPkg confirms that the repo-add was successful:

[code]

And yet when I quit/relaunch AutoPkgr, my repo is gone again:

![sc

[2014-09-28 16:02] homebysix opened #151 "Mac beeps when "Install AutoPkg" button is clicked"
The "Install Git" button doesn't produce a beep, but the "Install AutoPkg" button does. I don't think it's necessary.

[2014-09-29 02:39] andrew-snape opened #152 "Proxy"
Hi,

Autopkgr doesn't seem to work behind proxy servers. wondering if there is a way around for this?
When using autopkg in terminal i usually have to enter
$ export HTTPS_PROXY="Proxy address":"Port"
$ export HTTP_PROXY="Proxy address":"Port"

Thanks!

[2014-09-29 21:35] #149 closed, assigned to nobody

[2014-09-29 21:35] #124 closed, assigned to eahrold

[2014-10-01 04:43] #87 closed, assigned to futureimperfect

[2014-10-01 14:40] patgmac opened #153 "No valid recipe found for /var/folders/...."
After updating to 1.0.4, I receive the following error:

The following error occured:
Error running recipes
No valid recipe found for /var/folders/y2/zc31smvd50j8jtwqg14lj8kjrbxhc7/T/1FB1B17B-1518-40E9-9B6E-19553AD573BF-543-0000003FC95DC91D

I have tried downgrading to 1.0.3, trash ~/Lib/AS/Autopkgr, pref file and keychain item (reboot afterwards). Occurs with any recipe, as well as with NO receip

[2014-10-08 15:10] #153 closed, assigned to nobody

[2014-10-10 15:36] eahrold opened #157 "Unable to authenticate with the current session's credentials. (Possible Answer)"
I recently noticed that when using a Gmail account, AutoPkgr kept giving me this error message, even thought my password was correct.
[code]

Upon further investigation I realized that it was actually a setting in Gmail preventing the email from sending.

The MailCore2 framework used in AutoPkgr, according to Google is a "less secure app".  In order to allow AutoPkgr to send emails you will need t

[2014-10-21 05:10] futureimperfect opened #163 "Git Reports As Uninstalled On Yosemite with Xcode 6 and Xcode CLI Tools"
I just installed AutoPkgr v1.0.4 on a new machine running Yosemite tonight and this is what I found. The latest version of Xcode and the Xcode CLI Tools have been installed.

[2014-10-22 02:47] #148 closed, assigned to nobody

[2014-10-22 03:48] #130 closed, assigned to nobody

[2014-10-22 03:48] #152 closed, assigned to nobody

[2014-10-22 03:49] #75 closed, assigned to homebysix

[2014-10-22 03:50] #60 closed, assigned to futureimperfect

[2014-10-22 22:29] donparfet opened #165 "Not Connecting to JSS"
I am setting up a test of Autopkgr and when I enter the url of my JSS and my valid username/password, I get a yellow dot next to the url.
![screen shot 2014-10-22 at 3 26 16 pm](https://cloud.githubusercontent.com/assets/5942977/4745461/965e8600-5a3a-11e4-8d3e-f1614d949238.png

If I try to download the package for firefox.jss I get an error message
![screen shot 2014-10-22 at 3 26 01 pm](https://c

[2014-10-23 04:56] haircut opened #166 "Create/update multiple polices with JSS"
Is there a way – using the already available repositories and custom overrides – to have the jss-addon create or update multiple policies from one recipe? Basically, to have one recipe run feed into two or more Casper policies.

I'll outline a basic use case using Java 7 as an example:
1. First-time installation policy (used during provisioning) that installs current Java 7, as well as an addition

[2014-10-23 07:08] mrmte opened #167 "Error running scripts"
see attached
![screen shot 2014-10-23 at 08 06 34](https://cloud.githubusercontent.com/assets/2095960/4749387/613e87ba-5a83-11e4-9007-2667e699e449.png)

[2014-10-23 15:26] #166 closed, assigned to nobody

[2014-10-24 01:20] Makoh opened #168 "Unable to run .jss recipes"
I had an old version of Autopkgr on my machine, I tried upgrading today, but I seem to be unable to make it work on my machine.

I installed the latest version on a spare test machine and it works great, but I'd like to be able to get it working on my machine.

I have attempted to remove all Autopkgr, git and autopkg files and then re-install, but no luck with that.

Below is the output of autopkg

[2014-10-25 18:11] acodega opened #170 "How does AutoPkgr treat JAMF Cloud hosted JSS?"
I'm looking to integrate AutoPkgr with my JSS, which is hosted by JAMF Cloud.

Therefore, my JSS url is https://jss.jamfcloud.com/[myinstance]/

Initial username/password configuration is failing. In the verbose logs you'll find:

I believe the URL AutoPkgr should be trying to access is:
https://jss.jamfcloud.com/<b>[myinstance]</b>/JSSResource/distributionpoints

Does anyone else use AutoPkgr wit

[2014-10-26 07:51] luisgiraldo opened #172 "Allow integrating JSS AutoPkg Addon with Cloud Distribution Points (S3)"
When enabling the JSS AutoPkg Addon, AutoPkgr is not able to connect to my cloud distribution point, as it asks for Casper read/write credentials, but these do not work with cloud distribution point.

[2014-10-27 15:31] everetteallen opened #174 "OSStatus error -34018 when accessing keychain during sending e-mail phase"
10/27/14 10:18:09.300 AM AutoPkgr[34833]:  SecOSStatusWith error:[-34018] The operation couldn’t be completed. (OSStatus error -34018 - Remote error : The operation couldn‚Äôt be completed. (OSStatus error -34018 - client has neither application-identifier nor keychain-access-groups entitlements))

[2014-10-27 20:04] ghost opened #175 "Unable to push packages to JSS. UnboundLocalError"
The DEBUG log (while using verbose logs) for AutoPkgr is here: https://gist.github.com/brandonusher/c8d52ac8158e1048f213 and the log for autopkgserver is here: https://gist.github.com/brandonusher/e40951b3dbd4fe15d43a

I even went through the steps here: https://github.com/sheagcraig/jss-autopkg-addon/blob/master/README.md to add the JSS variables to the plist, but to no avail. I receive the same

[2014-10-29 19:53] have-blue opened #176 "mount_afp: AFPMountURL returned error -1069"
This app looks so great, I look forward to putting it to work.  However I am running into an issue that I am not able to figure out.  Been digging around for a solution.  Could I get some help please?

Thanks,
Ed

The err. . . .
Error running recipes

mount_afp: AFPMountURL returned error -1069, errno is -1069
Traceback (most recent call last):
  File "/usr/local/bin/autopkg", line 1334, in <modul

[2014-10-30 02:24] Tecnico1931 opened #177 "Error with password with special characters (Answered)"
login failed with distributions where there password has an @ in it.

[2014-10-30 22:34] lucid772 opened #178 "[Errno 1] _ssl.c:504: error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure"
Below is the message I keep seeing in console.  I will also mention that when I run the "check now" portion of the update mechanic, I only seem go get progress on 1/10 recipes (as seen in the messages below).  Any advise would be great.

10/30/14 5:21:08.465 PM AutoPkgr[30196](1/10) Processing AdobeFlashPlayer.jss...
10/30/14 5:21:12.976 PM AutoPkgr[30196] [DEBUG](FULL AUTOPKG TRACEBACK) Traceback

[2014-10-31 00:09] kacilla opened #179 "Error Removing Distribution Point"
I have several distribution points, one of which I would like to exclude from AutoPkgr.  I tried removing it from AutoPkgr by right clicking the distribution point in "folders & integration" and removing it.  However, AutoPkgr continues to try to mount it once it's been removed.  I've tried relaunching autopkgr, same result.  Is there another spot I need to remove it from? Since the "remove" optio

[2014-10-31 15:43] WardsParadox opened #180 "Autopkgr looses recipe"
Just downloaded the latest version release of Autopkg. Re-enabled a bunch of recipe-repos (It had added a www. to the previous ones for some reason, so I had to disable and re-enable all of them again), and restarted machine for another update.
Upon Restart, No Recipes are visible now, and checking now results in no recipes being run at all.

[2014-10-31 18:03] #180 closed, assigned to nobody

[2014-11-01 22:18] rtrouton opened #181 "Xcode.app's git is not being recognized"
I normally install Xcode (the full Xcode, not the command line tools) on my AutoPkgr Macs running 10.9.x and 10.10.x, but the command line tools (including git) included with Xcode.app are not recognized by AutoPkgr.

To work around this,  I normally install the Xcode Command Line Tools but is there a way to have AutoPkgr check for Xcode.app's git?

[2014-11-03 15:30] #178 closed, assigned to nobody

[2014-11-03 15:43] systemheld opened #182 "dirty installation of python-jss"
the python-jss module is installed to `/Library/Python/2.7/site-packages` without using `easy_install` (`pip` not installed by default). This way the module is orphaned by python's package management tools and cannot be removed or upgraded.
As autopkg and jss-autopkg-addon don't install the lib, it seems that it is installed by autopkgr (haven't checked the code). If you were installing that lib,

[2014-11-04 07:17] #182 closed, assigned to nobody

[2014-11-04 17:30] #176 closed, assigned to nobody

[2014-11-04 17:30] #175 closed, assigned to nobody

[2014-11-04 17:31] #167 closed, assigned to nobody

[2014-11-06 16:09] ShawnWaller opened #183 "local variable 'password' referenced before assignment"
Keep getting this error while trying to check for updated apps.

Error running recipes
UnboundLocalError: local variable 'password' referenced before assignment

[2014-11-06 16:51] WardsParadox opened #184 "Enhance: Customize how the email notifier notifies"
Not by any means necessary or urgent but, it would be nice if there was an ability to change how the Email Notifier works. An ability to add a notification Method to only notify if MakeCatalog's imports. I realize that Munki integration is not the point of Autopkgr but it would be great.
Also add a notification center widget or notification (I guess back to the issue #79 ).

[2014-11-06 18:01] #183 closed, assigned to nobody

[2014-11-07 14:39] everetteallen opened #186 "autopkgr and JSS-importer 3.0 shows update needed..."
I noticed in some testing with a newer version of python-jss if I replace
/Library/Python/2.7/site-packages/jss
with a newer or a test version then autopkgr show amber on "Install AutoPkg" and claims an update is available.  Further the Repos and Recipes GUI panel fails to save checkbox states on repos and recipes.

[2014-11-07 15:28] jmb03012 opened #187 "Error Adding Repo"
Just installed AutoPkgr for the first time to begin testing in our development environment.  Install went fine, installed Git, installed AutoPkg, all without issue.

Went to add a repo for the first time though and I consistently get errors that there was a a SSL certificate problem: Invalid Certificate Chain.

I can confirm that when accessing git via https that the github.com certificate is show

[2014-11-10 22:41] joncohen opened #188 "Need help getting fixed"
I got started with AutoPkg today (first time) and AutoPkgr.

I had everything working, content was downloading and copying over to my munki server and out to my testing environment successfully.  I started adding more repos to pull in recipes that we needed and thats when it went south.

I am using the following repos.

[code]

When I run Check Apps Now in Autopkgr I get the following message at t

[2014-11-12 18:33] #126 closed, assigned to nobody

[2014-11-12 21:30] #188 closed, assigned to nobody

[2014-11-13 21:09] homebysix opened #190 "Update menu bar icon to be compatible with Yosemite "dark mode""
How it looks now, which is pretty much invisible:
![screen shot 2014-11-13 at 1 07 47 pm](https://cloud.githubusercontent.com/assets/7801391/5036595/263d85e4-6b36-11e4-9a1e-31235d8886f2.png)
![screen shot 2014-11-13 at 1 07 52 pm](https://cloud.githubusercontent.com/assets/7801391/5036597/289ef354-6b36-11e4-938f-b2ffc1de84f7.png)

[2014-11-13 23:07] #190 closed, assigned to nobody

[2014-11-14 14:33] #186 closed, assigned to nobody

[2014-11-14 22:38] eahrold opened #194 "Is Proxy Support working For You?"
The proxy support we have for autopkgr is still in early development, and we would love feedback from anyone using it, both when it's working and when it's not.  Most of the dev team do not have proxies set up in a large environment, but we strive it make AutoPkgr useful for everyone as possible.  Our current solution seems solid, but mostly theoretical and needs some real world feedback.

If you'

[2014-11-15 15:41] homebysix opened #196 "Unable to simultaneously satisfy constraints"
Although Xcode doesn't show a conflict, this message appears in the log on 10.8 when the Schedule tab in AutoPkgr is clicked:

[code]

The GUI still looks fine, and the error doesn't appear to affect the apps behavior. More investigation is needed for a future bug fix.

[2014-11-16 13:20] #187 closed, assigned to nobody

[2014-11-16 13:21] #181 closed, assigned to nobody

[2014-11-16 13:26] #168 closed, assigned to nobody

[2014-11-16 13:28] #170 closed, assigned to nobody

[2014-11-16 13:31] eahrold opened #198 "JDS and Cloud Hosted DP's are not supported"
We're working on this, and as soon as the python-jss and autopkg-jss-addon is released that supports these features, we'll be right behind with an update for AutoPkgr.

[2014-11-16 13:32] #165 closed, assigned to nobody

[2014-11-17 18:16] #163 closed, assigned to futureimperfect

[2014-11-17 22:06] jmb03012 opened #200 "UnboundLocalError: local variable 'dp' referenced before assignment"
After upgrading my test box to AutoPkgr 1.1.1, enabling use of the system proxy values via a defaults write, and adding the IP address of my test box to the bypass proxies area in System Preferences, attempting to run a JSS recipe will work until it tries to talk to the DP via the API.

At that point, I get a "UnboundLocalError: local variable 'dp' referenced before assignment" (see screenshot).

[2014-11-18 18:58] #200 closed, assigned to nobody

[2014-11-20 15:37] jmb03012 opened #202 "CasperShare remaining mounted after Recipe runs"
Noticed that when running AutoPkgr, if my CasperShare its configured to use isn't mounted, it will mount it as expected once the JSS-Importer process kicks off but then the DP stays mounted after everything runs.

Is this expected behavior?  Leaving the CasperShare mounted is sort of a bad practice because it can result in weird behavior with DP syncs sometimes.

[2014-11-20 15:40] jmb03012 opened #203 "One failed recipe stops them all"
Noticed that when executing AutoPkgr if multiple recipes are added and one in the middle for instance encounters an error, it will throw up an error which of course stops the remaining recipes from running, but also dismissing that error results in a full process stop (just like a Finder copy error on a single file).

Anyway to have it set to continue on error?  We would of course want to be notif

[2014-11-20 15:44] jmb03012 opened #204 "Shea Craig's JSS Repo Listing"
When entering values for the JSS section for the first time AutoPkgr automatically adds and selects Shea Craig's JSS Recipes Repo for you.

Over the course of my testing, there have been some occasions where I've had to purge those settings in the JSS section, remove his repo, edit (or fully delete the plist), etc, all which results in the added repo disappearing.

If I go an re-fill out the JSS s

[2014-11-20 15:53] #202 closed, assigned to nobody

[2014-11-20 16:02] quovadimus opened #205 "Error: Computer is enabled for a site"
Just an FYI as the error is on a feature I'm not actually using:

`[ERROR] Error: Computer (ID:XXX, Name:computername) is enabled for a site.`

It appeared on the 2nd item, in this case Firefox.jss (GoogleChrome.jss ran first with no error).
Below is the full entry.

11/20/14 10:24:19.865 AM AutoPkgr[71342]: (FULL AUTOPKG TRACEBACK)
  File "/usr/local/bin/autopkg", line 1334, in <module>
    sys.e

[2014-11-20 19:35] #204 closed, assigned to eahrold

[2014-11-21 16:52] #205 closed, assigned to nobody

[2014-11-21 17:42] rtrouton opened #208 "Searching for recipes only displays the filename of the recipe"
Would it be possible for AutoPkgr to display the recipe identifiers as well as the recipe filenames? I have a number of recipies where I added the "_rtrouton" to the recipe names because that made it easier to search fir them in AutoPkgr.

All you currently see when you search in AutoPkgr is the filename of the recipe, so searching for "Firefox.pkg" would yield two identical listings for "Firefox.

[2014-11-21 20:09] gerardweese opened #209 "UnboundLocalError: local variable 'updated_data' refrenced before assignment"
I'm receiving the following error when running Firefox.jss, or Evernote.jss and even tried Silveright.jss

"/Library/Python/2.7/site-packages/jss/jss.py", line 616 in save for child in updated_data.getchildren():
UnboundLocalError: local variable 'updated_data' refrenced before assignment

This seems similar to issue #175  but at a different point in the code. Autopkgr runs the .jss with no errors

[2014-11-24 17:05] schillingj opened #210 "Error updating repos"
When the "Update Repos Now" button is pressed in the AutoPkgr interface under the Schedule tab, AutoPkgr is throwing the attached error message:

![image](https://cloud.githubusercontent.com/assets/3240860/5168955/283c80a4-73d1-11e4-872d-4f09334e069b.png)

Selecting "Try to repair settings" isn't resolving the issue. I'll transcribe the error in the screenshot for easier reading below. AutoPkgr wa

[2014-11-24 18:54] #210 closed, assigned to nobody

[2014-11-25 21:25] jmb03012 opened #214 "Cant Install JSS-AutoPkgr-AddOn"
Got a prompt upon opening AutoPkgr that new version was available, attempted to install multiple times, failed every time.

Spun up an entirely new VM, installed AutoPkgr, installed Git, installed AutoPkg, ensured I had my system proxies setting enabled and SSL check disabled, entered JSS info, got prompted to install AddOn, still fails with same error.

If dismiss the error though but don't quit

[2014-11-25 23:09] #196 closed, assigned to homebysix

[2014-11-25 23:12] eahrold opened #216 "How is JDS Support working for you?"
We have a pre-release up, and in combination with the new Python-JSS has support for JDS.
Pleas let us know how it's working for you.

[2014-11-26 00:38] homebysix opened #217 "Absolute Manage integration"
Some instructions [here](http://rimorton.com/wiki/pages/p9Q408/How_to_Use_AutoPKG_with_Absolute_Manage.html) for configuring manually. Seems like AutoPkgr could make this substantially easier, like we're already doing for Casper.

This is less pressing for me personally, since I don't use (or have the ability to test with) Absolute Manage. But if there's enough interest, maybe somebody could help

[2014-11-26 06:32] #198 closed, assigned to nobody

[2014-11-26 16:45] Darkomen78 opened #218 "Real single log file"
Hi !

Would it be possible to output a real single autopkgr.log file ?
I want to show detail of autopkgr process with GeekTool, and grep system.log ins't really great, specally for the last line when new download items are listed.

[2014-11-27 06:02] eahrold opened #219 "Handle Recipe Overrides as Arrays"
Currently AutoPkgr will only work if autopkg default `RECIPE_OVERRIDE_DIRS` as a string.  While this is valid, autopkg also allows for setting this as an array.  As of now, if someone would launch AutoPkgr with this key as an array it would crash when trying to set the array value to the text field.

This is made worse by the fact that on close, it would overwrite their current default when the `s

[2014-12-01 18:52] acodega opened #221 "Python exception on checking software"
Since there have been a lot of updates, I've revisited using AutoPkgr and my cloud hosted JSS.

I get this error when checking for new software, my JSS account is properly configured and the DP is being mounted. Same result if I run AutoPkgr from the DP or from a different machine.

[code]

[2014-12-01 23:36] #214 closed, assigned to nobody

[2014-12-01 23:38] #177 closed, assigned to nobody

[2014-12-02 00:01] homebysix opened #223 "Menulet enhancements"
The menu can be more informative and more functional than it currently is. I propose the following changes:

- A status line at the top that indicates when the last AutoPkg run occurred, similar to Time Machine's menu icon indicating when the last backup occurred.
- The ability to cancel AutoPkg runs, if one is currently in progress.
- The ability to enable/disable scheduled AutoPkg runs without e

[2014-12-02 14:55] mvdbent opened #224 "ssl error with updating pkg"
if i update the pkg i get the following error

"A Python exception occurred during the execution of autopkg, see the console log for more details.
[ERROR] jss.contrib.requests.exceptions.SSLError: [Errno 1] _ssl.c:507: error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure"

this didn't work "defaults write com.lindegroup.AutoPkgr JSS_VERIFY_SSL -bool false"

how can i so

[2014-12-02 16:44] homebysix opened #225 "Ability to use `autopkg search ___` within AutoPkgr"
Would be great to search for recipes within the interface instead of having to go to Terminal.

I have an idea of what the GUI for this could look like, but it might need to wait until 2.0.

[2014-12-02 19:46] JonMunford opened #226 "Error running recipies"
I'm getting an error and i'm not sure who to look to for help since there are quite a few different programs that make this system up.  Any help would be great.

A Python exception occurred during the execution of autopkg, see the console log for more details.
[ERROR] jss.contrib.requests.exceptions.SSLError: [Errno 185090050] _ssl.c:340: error:0B084002:x509 certificate routines:X509_load_cert_crl

[2014-12-02 20:32] #226 closed, assigned to nobody

[2014-12-03 22:19] homebysix opened #227 "Passwords to file distribution points sent in plain text in error emails"
As reported by Galen Richards:

I definitely agree. Can we do this?

[2014-12-04 12:30] charliwest opened #228 "JDS Help needed"
Already posted in sheacraigs jss-addon git hub, but thought might be worth asking here as well.

Hi, great to see an update that supports the JDS environment, I'm so close to automating a large part of my job :-D

Unfortunately it doesn't actually upload any packages to my JDS. I have pasted the -vvv out put from running as an example atom.jss http://pastebin.com/Z31fqkwe

I think the important bi

[2014-12-04 15:36] jwzg opened #229 "Repo's and recipes disappeared with latest JSS add-on"
![screen shot](https://cloud.githubusercontent.com/assets/8279331/5300814/e480cc9c-7b98-11e4-8eeb-2f422dcd569c.png)

Check marks and recipes disappeared when I updated the add-on, but when I checked the JSS recipes everything came back.

![screen shot 1](https://cloud.githubusercontent.com/assets/8279331/5300829/06febc66-7b99-11e4-87d8-843a1a8f99f8.png)

[2014-12-04 16:06] #228 closed, assigned to nobody

[2014-12-04 17:59] kylevitale opened #230 "Chrome causes Autopkgr to hang at "Run AutoPkg Now""
Autopkgr no longer runs for me and I am not sure why. When I run it I get the "Running selected Autopkg updates" status but no updates are ever process, nor does this window ever mention that recipes were processed. In the past I would see the update currently being processed such as "puppet.munki 2/12" or something similar. Now the message never changes and I have to force quit autopkgr.

I have

[2014-12-06 03:53] #229 closed, assigned to nobody

[2014-12-08 21:15] gerardweese opened #231 "Returned non-zero exit status 97"
When running Autopkgr I am currently getting [Error] subprocess.CalledProcessError: Command '['mount', '-t', 'afp', 'afp://casperadmin:Some%20Pass%20Word!@the.casper.server:548/CasperShare', '/Volumes/CasperShare']' returned non-zero exit status 97.

I can post the entire traceback if that helps.

[2014-12-12 20:36] gerardweese opened #235 "JSS Error. Response Code: 401"
Working to troubleshoot several other issues I have run into a new one. I get a large error window in Autopkgr and it repeats the error:

 /Library/Python/2.7/site-packages/python_jss-0.5.2-py2.7.egg/jss/contrib/requests/packages/urllib3/connectionpool.py:734: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.r

[2014-12-15 16:16] Tecnico1931 opened #236 "Error subprocess.CalledProcessError: Conmmand"
SMBCasper_share non-zero exit status 77

[2014-12-15 18:46] #231 closed, assigned to nobody

[2014-12-15 23:06] jameslbrown opened #238 "Can't force acceptance of certificate - sending email with TLS"
Setting up email notifications. Have ticked 'Use Secure Sockets Layer (SSL)' and have set port to 465. Click on 'Send Test Email' and I get an alert saying, "The certificate for this server is invalid.". We use self-signed certificates, so we should be able to tell it to always trust the certificate (like Mail.app does).

Using Version 1.1.3 (589) on Mac OS X 10.10.2

Thanks, James.

[2014-12-16 21:50] angelahan17 opened #240 "Error Running recipes. No matched files Use of undefined key in variable substitution."
This is the error I get after run 'Check Apps Now' (after updating recipe repos)

The following error occured:

Error running recipes
No matched files Use of undefined key in variable substitution: u'PKG' Error processing path '%PKG%' with glob. No matched files

Most of my munki recipes/apps get updated though, but I noticed some new ones I checked didn't get added to the repo.

I'm not sure wher

[2014-12-17 14:29] Lotusshaney opened #241 ""Property list invalid for format" error when running a recipe from Autopkgr but all is fine when run from CLI"
10.9.5 OS X running Autopkgr v1.1.3.

Get the following error at the end of a run and causes an error email and dialog to appear. However running from the CLI and all is fine

`Dec 17 09:16:26 ususrls-csp01 AutoPkgr[95752]: (23/23) Processing MakeCatalogs.munki...
Dec 17 09:16:27 ususrls-csp01 AutoPkgr[95752]:
    The following new items were downloaded:
        None

[code]

Dec 17 09:16:27 ususr

[2014-12-18 23:53] justinrummel opened #243 "Python InsecureRequestWarning Errors"
Not sure if this has been resolved.  I've updated to the latest version of AutoPkgr and I believe the new JSSImporter but I'm still getting errors with repeating "InsecureRequestWarning".

[code]

Here is the output for /tmp/test.plist with verbose enabled.

[code]

http://f.cl.ly/items/0x0c3G2u1J3x402R1N1m/AutoPkgr-Python-Errors.txt

[2014-12-19 00:02] justinrummel opened #244 "Version info on install tab"
it would be nice to have the version info of GIT, AutoPkg, and JSSImporter so it's easy to tell if you are current with what is available.

[code]

[2014-12-19 01:20] #243 closed, assigned to nobody

[2014-12-19 15:21] #241 closed, assigned to nobody

[2014-12-19 15:22] #235 closed, assigned to nobody

[2014-12-19 15:58] #179 closed, assigned to nobody

[2014-12-19 15:59] #224 closed, assigned to nobody

[2014-12-19 16:02] #209 closed, assigned to nobody

[2014-12-22 14:35] #221 closed, assigned to nobody

[2015-01-01 08:31] soulsurfer42 commented on #240
I had a similar problem - Autopkgr returned this:
`A Python exception occurred during the execution of autopkg, see the console log for more details. [ERROR] UnboundLocalError: local variable 'version' referenced before assignment `

The verbose console output led me to the source of the troubles: the recipe Filezilla.munki appears to be broken, namely in line 89 of the script.

Removing the recip

[2015-01-05 17:09] kylevitale commented on #230
Anything else you wish for me to try?

[2015-01-05 17:36] homebysix opened #247 "Detect missing recipes and remove them from recipe_list.txt"
When a subscribed recipe is removed (either by the repo author or by removal of the repo itself), AutoPkgr should detect this and remove the recipe form recipe_list.txt.

The autopkg error looks like this:
[code]

AutoPkgr should remove the recipe and output (in the email notification) something like this:
[code]

[2015-01-05 17:44] eahrold commented on #230
@kylevitale, thanks for offering. I've put up yet another build that actually removes environment settings from the NSTask backend (this may be where settings are getting injected). I'd love to know if this helps at all. Thanks.

https://github.com/eahrold/autopkgr/releases/tag/v1.2-beta3

[2015-01-05 17:45] kylevitale commented on #230
The last link posted to 1.2-beta3 is broken for me. Is that what you are
referencing?

On Mon, Jan 5, 2015 at 12:44 PM, Eldon Ahrold <notifications@github.com>
wrote:

[2015-01-05 18:18] eahrold commented on #230
Dooh, here it is...
https://github.com/eahrold/autopkgr/releases/tag/v1.2-beta3-a

And in general all of my testing builds go up here...
https://github.com/eahrold/autopkgr/releases

[2015-01-05 18:43] gerardweese commented on #230
@eahrold I have tested the newest beta and the result is no different. I still have the same Chrome tabs open from last week. I could try and closing all of them, and chrome , re-opening them from history and seeing if I can reproduce it.

below is an image of what I get with the build number.
http://cl.ly/image/2D1y3r3a2t2C

-Gerard

[2015-01-05 19:15] eahrold commented on #230
@gerardweese Thanks for checking. That build number isn't accurate, I didn't update that when I but up the testing build.

If you could try closing, re-opening one by one, and seeing if a particular one is responsible let me know what the url is, it may help me reproduce.

If I could just make it happen on my machine, I'm pretty sure I could figure out a way to squash it.

Thanks again for your he

[2015-01-05 21:18] eahrold commented on #230
You can cancel from the beta build correct?

[2015-01-05 21:34] gerardweese commented on #230
Yes, cancel works in the v1.2-beta3-a release but not in the current 1.1.3

On Mon, Jan 5, 2015 at 1:18 PM, Eldon Ahrold <notifications@github.com>
wrote:

[2015-01-06 00:50] kylevitale commented on #230
I can confirm the same as @gerardweese. I cannot point to a specific tab,
but closing a second account window usually does the trick to get autopkgr
working.

Cancel does work in this beta, which is new.

On Monday, January 5, 2015, gerardweese <notifications@github.com> wrote:

--
Sent from my mobile

[2015-01-07 19:21] ToddToddTodd commented on #230
I'm experiencing the same issue. I'm running Chrome Version 39.0.2171.95 (64-bit) & AutoPkgr 1.1.3 (589). I'm trying AutoPkgr 1.2-alpha (560) and it still hangs at "Running selected AutoPkg recipes.", but I'm now able to cancel the dialog box.

[2015-01-07 20:34] eahrold commented on #230
@ToddToddTodd, and closing chrome fixes it for you too?

[2015-01-07 20:45] eahrold commented on #230
@gerardweese, @kylevitale, @ToddToddTodd
Do you experience the same hanging when pressing "Update Repos Now" or is it just on "Check Apps Now"?

[2015-01-07 21:55] gerardweese commented on #230
@eahrold I have only seen it on "Check Apps."

[2015-01-08 01:47] kylevitale commented on #230
@eahrold <https://github.com/eahrold> Only on "Check Apps Now", "Update
Repos Now" has never given me an issue.

On Wed, Jan 7, 2015 at 4:55 PM, gerardweese <notifications@github.com>
wrote:

[2015-01-08 03:52] eahrold commented on #230
@kylevitale, @gerardweese ...

So I've reworked some more things to hopefully address this.
https://github.com/eahrold/autopkgr/releases/tag/v1.2-beta-ec

There are two separate versions here, one that forces python to run in i386 mode and one that forces it to run in x86_64. Pleas try both and see if either work.

It also changes the way the file handles that provide progress updates are setup. I

[2015-01-08 17:31] ToddToddTodd commented on #230
@eahrold Closing Chrome does fix the issue

[2015-01-08 19:45] eahrold commented on #247
@homebysix,
I've got this feature worked out.  It used some methods developed in Search Feature PR, #246. Are you working on that at all, or have any suggestions? If no, I'll push this enhancement into that PR.

If you are working on that, I can stash and apply once your done.

Thanks,
Eldon

[2015-01-08 22:39] homebysix commented on #247
I'm not working on it at the moment — go ahead and push. Thanks!

[2015-01-12 19:18] gerardweese commented on #230
@eahrold I'm sorry to report the issue still exists on both versions. Since we now have an option to cancel and we know a simple work around of closing Chrome I'm willing to move on.

[2015-01-19 09:46] COhsrt opened #250 "Api Username with Minus in it...."
... seems to break it currently - but i'm not sure if its an error within autopkgr or an error within the jss/JSSImporter Python Scripts.

Steps to reproduce:
Add a User with aka "MyCompany-AutoPkgr" with the needed rights in JSS
Change Autopkgr's Account details to that user/password combination
Get a 404 Error

[2015-01-19 17:35] klou opened #251 "Error when munki repo is not available"
Feature request:  If a munki repo is specified (or a *.munki.recipe is called), check if the munki repo is available and mounted.

Otherwise, the entire run fails with a long string of error messages (that also extend beyond the viewable pane).

[2015-01-19 18:39] diwanicki opened #252 "SecOSStatusWith error"
I'm getting the following entries in the system log when AutoPkgr 1.1.3 starts and when it completes a check:

[code]
Mac OS X 10.9.5 Server 3.2.1

[2015-01-20 13:43] eahrold commented on #252
@diwanicki this is the same as #174. It's looks menacing, but is not. It's bug that shows up when accessing the keychain item for the password used to send e-mails.  It happens at launch to populate the text filed, then subsequently when sending.

[2015-01-20 13:49] diwanicki commented on #252
ok, I'll close this then as a dup - didn't find the other issue, but did look :)

[2015-01-20 13:49] #252 closed

[2015-01-20 18:18] gerardweese opened #253 "Feature request - Check if Casper-Admin is open / running"
This more of an issue of managing Casper on the same machine you manage and run Autopkgr. The basic issue is if Casper Admin is logged in Autopkgr fails. It would be nice if Autopkgr just checked if CasperAdmin was in use.

[2015-01-20 18:27] homebysix commented on #253
I think it's actually the presence of the mounted sharepoint that is the problem, and not Casper Admin itself. Maybe we could check for that instead.

[2015-01-20 19:07] gerardweese commented on #253
Exactly.

[2015-01-26 12:53] COhsrt commented on #250
Not sure if this happens to other people aswell - but setting all settings manually helped me.

[code]
Just to be sure, do those things aswell
[code]
To see all settings set issue
[code]

[2015-01-26 12:53] #250 closed

[2015-01-26 18:18] everetteallen opened #254 "Logs not modal dialogs for errors please..."
So this may be an ER but I am trying to run Autopkgr over very long periods of time(months and years) on a headless, unattended machine.  Frequently I get modal dialogs like the one in the attached screen shot and recipe processing stops.  It would be better for me it these errors went to a log and I was notified but the recipe should be skipped and processing continue.
Thanks!
![remote desktop pi

[2015-01-26 18:33] homebysix commented on #254
Hi @everetteallen,

These errors won't appear if you close the AutoPkgr configuration window. That's the state I usually let it run in.

You can always bring the configuration window back by clicking the suitcase icon in the menu bar and choosing Configure.

Elliot

[2015-01-26 20:29] eahrold commented on #254
Hey @everetteallen,

Also we're closing in on the 1.2 release that will move the "Schedule" to a LaunchD and provide much better "Headless" performance, including surviving restarts, and not needing to be logged in for AutoPkgr to run. It also changes how repos are auto-updated and will do so prior to each run instead on only when AutoPkgr initially launches, so even when left unattended for month

[2015-01-27 09:39] mgrevtech opened #255 "Adobe Flash Player"
I dont think I ever had to spend so much time in troubleshooting an initial software setup during my whole tech career. However I really like Autopkgr and would like to get this working fully.
After overcoming most of the errors and reading forum posts over and over, my current issue is related to getting Adobe Flash Player show up in JSS/Self-service. All the other app packages work fine. Adobe F

[2015-01-27 14:44] eahrold commented on #255
@mgrevtech,
Sorry to hear you're having so much trouble getting things set up.

The request warnings are one thing, but there is an error happening here that is most likely the culprit,
[code]

Is the error you posted from the console log, or from the modal window? If just from the window, would you mind going to the Console.app and filtering out `AutoPkgr`, and pasting the message that starts wit

[2015-01-27 18:19] mgrevtech commented on #255
@eahrold
Hey eldon, thanks a lot for the reply. Is that what you are looking for?

1/27/15 8:45:53.138 PM AutoPkgr[10816]: Welcome to AutoPkgr!
1/27/15 8:45:53.482 PM AutoPkgr[10816]: Invalid color System, labelColor (warning given only once)
1/27/15 8:45:57.578 PM AutoPkgr[10816]: redirected (null)
1/27/15 8:45:57.652 PM secd[389]:  securityd_xpc_dictionary_handler AutoPkgr[10816] copy_matching T

[2015-01-27 18:45] homebysix commented on #255
Hi @mgrevtech,

Most of the "AutoPkgr" problems we've seen are actually recipe problems. They can usually be diagnosed by trying to run a specific recipe in Terminal, like `autopkg run AdobeFlashPlayer.jss`. If the error persists in Terminal, then AutoPkgr is not the cause.

I suspect the 404 error you saw with Flash is one such issue. Adobe's feed was having some trouble for a while, but if you r

[2015-01-27 18:57] eahrold commented on #255
@mgrevtech
Hey Jason,
Elliot's right, you definitely want to create overrides instead of editing there recipes directly, it can cause unexpected problems down the line otherwise.

It is strange that the warnings still persist since that's the same issue as in #243
[code]
you may want to also check that this is set correctly,
[code]
You're not by any chance running these commands using sudo (or as

[2015-01-27 21:08] mgrevtech commented on #255
@eahrold @homebysix
Actually I did try the override method as well but same errors. Maybe I did something wrong. So I copied the AdobeFlashPlayerExtensionAttribute.xml, AdobeFlashSmartGroupTemplate.xml, AdobeFlashPlayer.png files over to the Override folder. Is this the right way?
However forgot to mention, there is one extra step that I did - I have been editing the jss.recipe files to change the

[2015-01-27 21:50] mgrevtech commented on #255
Wow, finally it works now!! Adobe Flash policy & smart group created in JSS. I am not sure what happened but could the errors have been caused by the modification of the Group name 'Testing' I have been doing on the jss.recipe files?
After stashing all the recipe files I modified, I then ran Update Repos and new recipe files for all apps were created (AdobeFlashURLProvider.py file is not back in t

[2015-01-27 22:03] ahambidg opened #256 "Error Mounting SMB Share on OS X Server"
First and foremost, thank you for your hard work on this tool; it's incredibly useful and I'm grateful to all of you who create & contribute.  :)

However, I am seeing an error when I try to mount a secondary fileshare (SMB) hosted on a second server in my Casper environment.  I'm not sure if I should be posting this here or in the JSS-Importer tool; if I should be posting it there, please let me

[2015-01-27 22:56] eahrold commented on #256
You may want to try overriding the port so it's 445. That's SMB over TCP rather than NetBIOS which uses 139. Depending how you have things set up you'll need to do this either on your JSS if you're using auto-detected DP's or in the AutoPkgr configDP window.

[2015-01-27 23:26] eahrold commented on #255
@mgrevtech,
Hey Jason,
Thanks for pointing this out, I'm getting the exact same results. Adobe is doing something real strange with it's naming of the download calling it install_all_mac_pl_sgn.z

This is what I get when I do `autopkg run AdobeFlashPlayer.jss`
[code]

AutoPkgr really just does a best guess approach to what app is download from the above string. Most applications have sensible name

[2015-01-28 00:21] mgrevtech commented on #255
Hi eldon,
Understood. Thanks for looking for into this and the background information.

So any comments/suggestions regarding the defalt Testing name for Category in JSS as mentioned above. Is it ok to give the category a custom name by modifying the jss.recipe files in RecipeRepos folder or better to create overrides? Prefer to give it a different category name. I am still not sure if this was ca

[2015-01-28 17:33] homebysix commented on #255
Hi @mgrevtech,

To change the category name, I'd strongly recommend creating/editing an override file. For example, here is my Firefox.jss.recipe override file in its entirety:

[code]
Notice the policy category is "Auto Update" and the package category is "Web Browsers." Hope that helps!

[2015-01-28 18:29] mgrevtech commented on #255
Hi @homebysix
I actually went ahead and did try the override earlier. Everything works fine, all policies & smart groups getting created fine in JSS.
Really strange though, the errors I have been getting seem to be inconsistent. At times, autopkgr works fine when you 'Check Apps Now' without any errors. But then I keep getting the below error every once in a while.

"The following error occured:
E

[2015-01-28 18:32] mgrevtech commented on #255
And FYI, couple of other errors I have been getting below. The errors are different each time. As Elliot mentioned, I am guessing all these must be related to bad repos.

The following software is now available for testing:
iMovie: 10.0.5
iPhoto: 9.5.1
The following error occured:
Error running recipes
Couldn't download http://fpdownload2.macromedia.com/get/flashplayer/update/current/install/insta

[2015-01-28 19:22] eahrold commented on #255
I doubt the SMB issue is your password as long as it works once. It could maybe be that the Casper Admin has the the share mounted which I think cause the JSSImporter mount to fail, or possibly the share point is never unmounted causing a similar condition.

The flash dl, may be just a normal glitch while Adobe works things out, it's not unusual that you'll get the same errors reported for a few d

[2015-01-28 20:43] mgrevtech commented on #255
As long as the new recipes are getting pushed into JSS, I think I will be fine for now with a few errors once in a while. I will try to open up a new issue the next time I come across something completely new.
Thanks a lot for you help!! much appreciated, couldn't have done it without you guys @eahrold @homebysix

Jason.

[2015-01-28 21:50] eahrold commented on #255
You're welcome. Glad to help.

[2015-01-28 21:50] #255 closed

[2015-01-30 10:51] charliwest commented on #184
Another tweak to this could be emails when there is an update for JSSImporter, AutoPkg or AutoPkgr?

[2015-02-03 21:27] everetteallen commented on #254
Eldon,
Have been running the beta for several days now with window closed and having good results.

[2015-02-05 17:21] eahrold commented on #254
Hey @everetteallen,
Thanks for getting back, and great to hear it working!
We're doing some final touch ups and hopefully we'll be able to release 1.2 soon.
If you do run into anything else in the beta, let us know so we can fix prior.

Any chance you've tested/noticed whether it's functioning as expected at log-in window as well?

-- Eldon

[2015-02-05 22:04] homebysix commented on #151
@eahrold Any chance we could knock this out for 1.2?

[2015-02-05 22:09] bgrande12 opened #258 "Option to automatically delete older versions of packages"
It would be nice to have the option to automatically delete older versions of packages that are updated with autopkgr. It's been mentioned that keeping older versions may be useful, but I think it would be nice to have the option to automatically delete older versions of packages that we choose.

[2015-02-05 22:11] homebysix opened #259 "1.2 - Recipe conversion dialog should appear in front of other windows"
LGRecipes.m — line 484
According to James, we want to "make it key and order it front."

[2015-02-05 22:16] eahrold commented on #151
I actually can't figure out why this is happening and can't reproduce. The buttons settings look identical in the XIB and it's not coded to beep/not beep.

[2015-02-05 22:20] #247 closed

[2015-02-05 22:32] homebysix opened #260 "Enable adding both repo and recipe from search results"
Currently the search panel only allows adding repos. Would be great to be able to add the recipe you searched for.

[2015-02-05 22:37] eahrold commented on #260
I debated that, but it proved fairly tricky to recipe identifier is not reported during `autopkg search`. In the end I suspect most recipes end up as overrides anyway.

I'll keep thinking and try to come up with good way to approach this.

[2015-02-05 23:58] eahrold commented on #259
Actually since this is only ever called during
[code]
It will always be ordered front, and since it's a NSAlert it will automatically become the key window.

@futureimperfect  are you experiencing different behavior?

[2015-02-06 18:05] homebysix commented on #151
OK. I'll let it go.

[2015-02-06 18:05] #151 closed

[2015-02-06 18:08] homebysix commented on #258
@benjaminluo Would an option like this be useful to you?
![screen shot 2015-02-06 at 10 08 01 am](https://cloud.githubusercontent.com/assets/7801391/6084704/1c600994-ade8-11e4-8da4-fe1af7dfc28b.png)

[2015-02-06 18:14] #194 closed

[2015-02-06 18:15] #172 closed

[2015-02-06 18:16] #225 closed

[2015-02-06 18:17] homebysix commented on #223
I have a few more ideas for menu item enhancements, but they can wait for 1.2.1. Closing this for now.

[2015-02-06 18:17] #223 closed

[2015-02-06 18:17] #208 closed

[2015-02-06 18:18] #142 closed

[2015-02-06 18:18] #72 closed

[2015-02-06 18:18] #49 closed

[2015-02-06 18:19] #254 closed

[2015-02-06 18:19] homebysix commented on #256
Hi @ahambidg, did Eldon's advice work for you?

[2015-02-06 18:20] homebysix commented on #236
@Tecnico1931 Did this get resolved for you?

[2015-02-06 18:22] homebysix commented on #230
@gerardweese Could you test again on the latest beta 1.2-rc1? Just want to see if the behavior remains consistent.

[2015-02-06 18:31] homebysix commented on #218
I think the various options available now are sufficient:

1. Open Console.app and filter for AutoPkgr.
2. Check only the "AutoPkgr" entry in the Senders pane of Console.app:
    ![screen shot 2015-02-06 at 10 26 37 am](https://cloud.githubusercontent.com/assets/7801391/6084973/c39111d4-adea-11e4-8be5-f942655ac619.png)
3. `syslog -k Sender AutoPkgr` or something similar.

I can't think of a reason

[2015-02-06 18:32] #216 closed

[2015-02-06 18:45] #132 closed

[2015-02-06 19:31] benjaminluo commented on #258
@homebysix That's exactly what I was looking for and then some.

[2015-02-06 19:35] homebysix commented on #258
@eahrold If I add that to the GUI, is it something you could code up? (Probably for 1.2.1 or after.)

[2015-02-06 20:24] eahrold commented on #258
I could give it a shot, but I think it may be fairly complicated since each recipe handles things slightly differently.

Any suggestions on exactly what should be removed? Just items in the `../[recipe]/downloads` folder?
Or include items in the `receipts` folder too?

I'll think about this, but @benjaminluo, @homebysix if you have suggestions on the actual algorithm weigh in, and I'll handle the

[2015-02-06 20:54] homebysix commented on #258
For .pkg recipes it should be pretty straightforward. In shell, the logic would be like this:
[code]

For .munki and .download recipes, it's trickier. I'll think about that.

[2015-02-06 21:06] homebysix opened #261 "Ability to pause AutoPkg scheduled runs for X hours."
I really like the way CrashPlan allows you to defer backups for a couple hours. Would be great if we could do something similar with AutoPkg runs.

![crashplan-pause](https://cloud.githubusercontent.com/assets/7801391/6087486/e33c920e-ae00-11e4-85df-0037ce801fd0.jpg)

[2015-02-07 01:04] gerardweese opened #262 "Autopkgr feature / enhancement request - Track changes, RollBack"
This is a bit of a fantasy request but I thought I would put it out there.

It would be nice if Autopkgr could help me track the changes between app version updates and as long as I'm wishing for unicorns I might as well ask for the ability to roll back changes on a per-app basis.

-Gerard

[2015-02-07 01:12] gerardweese opened #263 "The ability to save recipe lists as "presets""
Often I want, or need to, uncheck all recipes to troubleshoot a new one. It would be nice if I could have a saved preset of recipes I'm currently subscribed to. The ability to  uncheck all and be able to revert back to a saved preset would be helpful.

-Gerard

[2015-02-07 08:37] gerardweese commented on #230
Sure, I will take a look on Monday; I have been running the 1.2 beta for a month I will try the rc.

-Gerard

—
Sent from Mailbox

On Fri, Feb 6, 2015 at 10:22 AM, Elliot Jordan <notifications@github.com>
wrote:

[2015-02-08 03:52] eahrold commented on #263
This is a real interesting idea, and would be fun to code.

A while back I proposed the ability to run a single recipe, would something like that address this need, or is there a use case for multiple preset recipe groups?

[2015-02-09 16:18] homebysix commented on #263
I like this idea. And I can think of a use case for running distinct "sets" of recipes. (Of course it would be useful to run one at a time too, but that's less of a pain point since it's so easy to open Terminal and type `autopkg run Firefox.pkg`.)

[2015-02-09 16:23] homebysix commented on #262
What kind of changes would you like to track? Like Firefox release notes, that kind of thing?

Or are you referring to changes in AutoPkgr itself?

[2015-02-09 16:30] eahrold commented on #262
Rolling back seems to be more a feature of for the distribution system  (casper / munki) rather than something useful in AutoPkg. Even if you were to roll back something in AutoPkg, on a subsequent run it would just get the most current version again.

[2015-02-09 17:11] gerardweese commented on #262
@homebysix @eahrold Excellent points. I forget the underlying pieces AutoPkgr works with. Now that I think about it I can't see a way AutoPkgr can be used to help with this issue, and that it is more a of Casper / Munki and for my part python-jss feature request.

[2015-02-09 17:15] homebysix commented on #262
Right. If it's the actual app deployments you want to roll back, then AutoPkgr/AutoPkg won't have anything to do with it. Instead, you'll configure that in Munki or Casper. (On both platforms, rollbacks aren't as simple as they could be, but that's neither here nor there.)

[2015-02-09 17:15] #262 closed

[2015-02-10 16:41] mpudenz opened #265 "Setting up JSS importer 404 error"
Trying to get my Autopkgr set up for testing in Self Service. When I click the "Check Apps Now" button I get the following error. Would any one have any advice?

A Python exception occurred during the execution of autopkg, see the console log for more details.
[ERROR] jss.exceptions.JSSGetError: JSS Error. Response Code: 404	Response"

[2015-02-10 16:49] eahrold commented on #265
It may be this https://github.com/lindegroup/autopkgr/issues/221#issuecomment-67843201

We're about to release 1.2 which should address that, but if you want to try the [beta release](https://github.com/lindegroup/autopkgr/releases/tag/v1.2-rc1) and see if it helps, any feedback is appreciated.

[2015-02-10 17:13] mpudenz commented on #265
The new version fixed this issue for us. Thank you!

[2015-02-10 17:13] #265 closed

[2015-02-10 21:14] eahrold commented on #203
@jmb03012 looks like they're making some progress on this upstream, which is where it needed to be.
https://github.com/autopkg/autopkg/pull/147

[2015-02-10 21:15] #259 closed

[2015-02-10 21:18] #240 closed

[2015-02-10 21:49] eahrold commented on #251
@klou what's your setup? Is your munki repo on a separate file server? It may be an even better feature to have AutoPkgr try to mount your munki repo.

[2015-02-10 22:00] klou commented on #251
@eahrold Try to mount or check if it's mounted, either works.  If I recall, munkitools will mount the repo upon munkiimport if not immediately available.

I have munki (and others) being served by a CentOS VM, which has the repository mounted separately on a NAS.  Usually, I work directly on the repo itself (separate mounted volume).

[2015-02-11 02:11] eahrold commented on #251
Since munkiimport will try to mount the share, I'm not sure of the reason for autopkgr to simply check whether it's mounted pre `autopkg run` because it shouldn't matter if it is or not. AutoPkgr has no direct control over things once it sets the run in motion.

Actually having AutoPkgr mount the share may have some benefit in that it indicates if it can be successfully mounted.

If it's more an i

[2015-02-11 05:30] scorysto opened #266 "Enhancement - Feature request-Ability to hide the dock icon."
I really like the it runs in the menu bar basically behind the scenes but it would be nice if the dock icon could be hidden.

[2015-02-11 06:18] eahrold commented on #266
This feature is in next release.

[2015-02-11 06:18] #266 closed

[2015-02-11 13:00] charliwest commented on #258
Is adding this for the JSSImporter possible to look into as well? That would be great to keep the dp's a bit cleaner.

[2015-02-11 13:49] eahrold commented on #258
Yes definitely.
If we can figure out how to implement this, it should cover everything since JSS recipes are most often pkg recipes with a post processor.

[2015-02-11 19:03] eahrold opened #267 "Add a simple web server to check status remotely."
I've been playing around with this project https://github.com/robbiehanson/CocoaHTTPServer and think it may be fairly easy to include.

It could be useful to have AutoPkgr run a simple web server so you can remotely check on AutoPkg status, see what recipes are schedule, what repos are included, etc...

@homebysix, @futureimperfect what do you think? Worth while?

[2015-02-11 19:23] homebysix commented on #267
I feel like this might be out of scope. What information would it provide that you wouldn't be able to get through the app's UI?

People that want remote access to continuous-integration tools are more likely to pair autopkg with Jenkins, IMHO.

[2015-02-11 21:19] klou commented on #251
Looks like there were 2 issues here, neither of which applies to AutoPkgr.
[code]
With the following, even `munkiimport` will fail to automount this share (as it needs to create the MUNKI_REPO path in line 136), due to the nested path.  Even changing the `os.mkdir` to `os.makedirs` won't fix this, as apparently creating nested paths in `/Volumes` is not a good idea.

Changing `MUNKI_REPO=/Volumes/

[2015-02-11 22:59] futureimperfect commented on #267
Right, but some people may feel less inclined to use a CI service if all they're using it for is to schedule AutoPkg runs, (and if AutoPkgr offers similar functionality).

I'm all for it if it's relatively simple to build/maintain. Oh and secure.

--
James Barclay

[2015-02-12 04:22] eahrold commented on #267
And the scope could even be smaller than that. What go me thinking of this feature was today I wanted to check if I had Office 2011 updates enabled on a remote machine, but didn't want to VNC in. I really just wanted a current configuration overview page.

The cocoaHTTPServer supports SSL / DigestAuth and most of the basic security features, so I think we're good there. I'll look into that more.

[2015-02-12 06:07] eahrold commented on #251
Right, right, right, the MunkiImporter autopkg processor doesn't actually use munkiimporter it uses shutil.copy().

My hang up is that an indicator light won't really help when scheduled runs  are happening in the background. This is why I have more interest in addressing mounting the repo.

But I'm somewhat torn as to where it's appropriate to address this. On one hand handling in autopkg would p

[2015-02-12 06:58] klou commented on #251
Well, I'm just going to leave this here (for purposes of discussion)

PROS of modifying the AutoPkg Processors:
* Automates one more step
* Adds some error checking
* No changes needed in AutoPkgr

CONS:
* Not everybody who uses AutoPkg uses Munki
* Will likely require another MUNKI_URL global variable (really, if so should pull from the munkiimport.plist, but I don't know if that's bad form)
* Wi

[2015-02-12 15:19] homebysix commented on #267
OK, that's pretty cool. I suppose if it's easy to implement, and there's an "on/off" button somewhere, then what's the harm.

Will you need any HTML/CSS framework created? I can tackle that.

[2015-02-12 15:35] eahrold commented on #267
ON/OFF, setting port number, and selecting SSL certificate is what we'll probably need.
And definitely better CSS/HTML.

I'll put up a branch after I have a little bit more of the back-end ironed out.

[2015-02-13 19:16] homebysix commented on #10
This feature is part of 1.2.

[2015-02-13 19:16] #10 closed

[2015-02-13 19:17] homebysix commented on #11
This is part of 1.2.

[2015-02-13 19:17] #11 closed

[2015-02-13 19:18] homebysix commented on #71
Now that 1.2 runs as a LaunchDaemon, is this still necessary @diwanicki ?

[2015-02-13 19:18] #236 closed

[2015-02-13 19:20] #203 closed

[2015-02-13 19:20] #218 closed

[2015-02-13 19:21] homebysix commented on #230
@gerardweese 1.2 final release is out now.

[2015-02-13 19:22] #256 closed

[2015-02-13 19:48] homebysix opened #270 "Firefox version not being parsed correctly in debug log."
Tiny issue: When AutoPkgr runs my Firefox.jss recipe, I see this in the logs:
[code]
It's probably trying to get the Firefox version from the URL of the file: `Firefox%2035.0.1.dmg`. We should treat the `%20` as a space and the version should be parsed as 35.0.1.

[2015-02-13 19:50] eahrold commented on #270
Brilliant!
That's exactly what I was missing.

[2015-02-13 20:30] homebysix opened #271 "Potential security issue using the Mac's serial number as the AutoPkgr.keychain password"
This would potentially allow somebody with physical access to the Mac to discover the SMTP password being used to send notifications from AutoPkgr. That SMTP password, in some organizations, may be linked to an important IT account, like the Google Apps administrator.

Might be worth thinking about alternative ways to set this password.

[2015-02-13 20:32] homebysix opened #272 ""Launch AutoPkgr at login" checkbox is not working on some 10.8 and 10.9 Macs"
The checkbox immediately checks, and then un-checks itself upon clicking.

[2015-02-13 20:34] homebysix opened #273 "Progress indicator status text isn't updating during repo-add"
To reproduce on a fresh Mac, install AutoPkg and then immediately add a repository. I think we just need to set the status text to blank if the current progress indicator doesn't require it.

[2015-02-13 20:36] eahrold commented on #272
To temporarily fix this issue manually create `~/Library/LaunchAgents` directory.

Fix in 1.2.1-beta1 branch.

[2015-02-13 20:36] eahrold commented on #273
Fix in 1.2.1-beta1 branch.

[2015-02-13 21:21] eahrold commented on #271
I'm open to suggestions, the biggest problem is that in order to run AutoPkgr at the login window, the keychain needs to be unlocked and locked programmatically.

Also keep in mind if users set their login keychain to `Lock after 5 minuets` we would need to pass the keychain password in or it would present an unlock dialog, causing AutoPkgr to hang completely until that password is entered.

The o

[2015-02-13 22:55] eahrold commented on #271
A spitball branch up https://github.com/lindegroup/autopkgr/tree/v1.2.1-keychainKey that takes the above approach of using a .keychainKey file.

[2015-02-14 00:27] eahrold opened #274 ""Check for repo updates when AutoPkgr starts" is now "Update repo prior to each autopkg run""
We need to change checkbox label to reflect this.

[2015-02-14 00:44] homebysix commented on #274
Fixed in d4ea7f226763ea63500f92fcf54e31cfba919c67.

[2015-02-14 00:44] #274 closed

[2015-02-14 18:18] foigus opened #275 "Check for (AutoPkgr) Updates and About AutoPkgr Unavailable Without Dock Icon"
With the "Hide AutoPkgr in Dock" option set, it is impossible to manually check for AutoPkgr updates and access the "About" box.  Both of these options are under the AutoPkgr menu when AutoPkgr is running with the Dock icon visible (i.e. is _not_ running facelessly), but are inaccessible once the Dock icon is hidden and AutoPkgr is relaunched.

[2015-02-14 18:51] foigus opened #276 "Unable to Send Notification Emails with AutoPkgr 1.2"
After updating AutoPkgr to release version 1.2 from 1.2rc1 (via Sparkle GUI update prompt), I am unable to send notification emails (including the test email).  However email notifications were working in 1.2rc1.  If it makes a difference, after the Sparkle-initiated GUI update I moved AutoPkgr from ~/Applications to /Applications in prep to have future AutoPkgr updates handled by AutoPkg itself.

[2015-02-14 19:17] foigus commented on #276
I also downloaded a fresh copy of AutoPkgr and the test email still encounters an error.

[2015-02-14 20:12] eahrold commented on #276
For some reason it looks like the user name setting is not getting applied hence it's looking for an empty account in the keychain. Try removing and re-entering the user name. I'll dig around and see I can figure out anything else.
[code]

[2015-02-14 20:15] eahrold commented on #275
@foigus good point. Hopefully we'll have an `Advanced` tab in an upcoming release for these and some other elements such as proxy configuration.

[2015-02-14 22:25] foigus commented on #276
I _think_ that log line is generated before I get a chance to set the email account information inside AutoPkgr.  Thus a blank "account" may be normal.

This is the log from opening and setting the password, then clicking "Send Test Email":
[code]
The AutoPkgr keychain and and item appears to be correct (including the email account password itself, after keying in the machine's serial number to re

[2015-02-14 22:46] foigus commented on #276
I restarted the computer and email notifications work.  That's unsatisfying, but it is working.

[2015-02-14 23:14] eahrold commented on #276
I have seen this once or twice before where OS X's security code sign verification mechanism goes a little haywire, I'm guessing that's what was happening here (especially since the codesign command came back valid on disk).

[code]

I'm glad a restart fixed it, but I agree it is unsatisfying.

[2015-02-15 04:54] foigus commented on #276
Fixed by restart.

![4463d682735d1cb300ce7e5032c9128e3dd4a553f5a2fc44273e07f8a3ae07bd](https://cloud.githubusercontent.com/assets/5042592/6202139/6d4c786e-b49c-11e4-9ffd-f4a2063bcbb0.jpg)

[2015-02-15 04:54] #276 closed

[2015-02-15 04:56] eahrold commented on #276
:+1:

[2015-02-15 18:32] justinrummel opened #277 "Overrides now listed in AutoPkgr"
With the recent update to AutoPkgr, I now see my overrides being listed in the GUI, however, I'm not sure if I'm supposed to only check the local.jss.application, not check it, or check both.

![screen shot 2015-02-15 at 1 30 10 pm](https://cloud.githubusercontent.com/assets/466605/6204381/15cb1480-b517-11e4-846e-cec3057f5556.png)

[2015-02-15 18:54] eahrold commented on #277
If you want to run your override you check the `local.jss.AdobeFlashPlayer`,
If you want to run the original recipe you check  `com.github.autopkg.jss.AdobeFlashPlayer`

And if you wanted to for some reason, you could run both.

[2015-02-15 22:43] eahrold commented on #271
@homebysix, @futureimperfect

I think I may have figured this out!

Early on in development I wasn't having any luck creating a connection to the helper tool when the run was controlled by the launchd (particularly when at the login window).  That must have been before I realized that setting the `SessionCreate` key in the `com.lindegroup.AutoPkgr.schedule` launch daemon was required to get access

[2015-02-16 06:39] homebysix opened #279 "Keep a changelog"
I'll write one up soon, following this format:
http://keepachangelog.com/

[2015-02-16 13:20] eahrold commented on #277
@justinrummel, I was actually just poking around a little bit more, and I suspect the recipe identifier `com.github.autopkg.jss.AdobeFlashPlayer` is actually from Allister Banks' jss repo not Shea Craig's.

This is why you're seeing both. If you create an override with the same name as it's parent only one instance of `AdobeFlashPlayer.jss` is displayed.

This is one of the main the reasons we swi

[2015-02-16 19:35] bengreeno opened #280 "No matched files"
Since upgrading to version 1.2 I get an error stating "Error running recipes. No matched files." I've attached the screenshot of this error.
![screen shot 2015-02-16 at 12 04 53 pm](https://cloud.githubusercontent.com/assets/9385714/6218139/b3f5d2ca-b5e0-11e4-8139-c81e1d79d981.png)

[2015-02-16 19:56] eahrold commented on #280
@bengreeno , try unchecking the checking a single recipe from the recipe/repos tab.

If that doesn't help, please enable verbose logging from the menu, and see if you see any messages in the console log that could indicate what files it is unable to find.

Thanks,

Eldon

[2015-02-17 16:59] gregneagle commented on #271
If you are worried about disclosing an account password, storing it in the System keychain is _worse_ from a security perspective -- anybody with access to the machine and a logged-in account (or the credentials for any account) can read from the System keychain.

[2015-02-17 18:02] eahrold commented on #271
@gregneagle, I'll be damned if you're not 100% correct.

I was under the impression that it was limited to Admin access (not that that's great, but maybe better?), But I just tested it out with a standard account and sure as hell was able to get the password.

_here's how misleading it is_
![security prompt](https://cloud.githubusercontent.com/assets/3740088/6233470/a4bb3544-b698-11e4-8974-e425432

[2015-02-17 18:31] gregneagle commented on #271
Sorry --  I don't really have any great new ideas for you.

System.keychain needs admin/root access to _write_ to, but it's available for everyone to read from. That's the entire point! You put things in there that everyone needs access to -- CA certs, trust chains, wi-fi passwords, etc.

[2015-02-17 19:17] eahrold commented on #271
I think that is the case for certificate items, but keychain password items are suppose to be slightly different.

Anyone should be able to get a ref to item, but to actually retrieve the password data it should be limited to either the App that created it, (determined by either a matching code signature or the binary matching a checksum), or one listed as trusted app when creating the keychain it

[2015-02-18 17:45] eahrold commented on #277
@justinrummel,
Hey Justin did this answer your question?

Thanks,
Eldon

[2015-02-18 17:45] eahrold commented on #280
@bengreeno did you get to the bottom of this?

Thanks,
Eldon

[2015-02-18 17:58] bengreeno commented on #280
I think so. I realized I still had AutoPkgr set as a startup item. I believe this may have had something to do with it. I'm still checking to see if it's still happening. I'll follow up tomorrow. Although, time-based check for updates have not been working since the update. 

Ben Greeno | bengreeno@me.com | 847.630.4216

On Wed, Feb 18, 2015 at 11:45 AM, Eldon Ahrold <notifications@github.com>
wro

[2015-02-18 18:03] ssmurphy commented on #280
I ssh into the system and ran this command.

sudo sh /Library/Application\ Support/JAMF/4.8.0.1816.sh -u

Steve Murphy
Associate Systems Engineer
Apple & NYC Infrastructure Services
Macintosh, OS X, iOS

Mast Global Technologies
Three Limited Parkway
Columbus, OH 43230
Phone, 614.415.5775
Cell, 614.747.6397
smurphy@lb.com<applewebdata://94793838-30D7-4577-8F29-CAD5E666ADD9/ssmurphy@limitedbrands.c

[2015-02-18 18:04] eahrold commented on #271
@homebysix, @futureimperfect

Here's a wrap back around after @gregneagle  pointed out the flaw in using the System keychain...

https://github.com/lindegroup/autopkgr/tree/v1.2.1-keyFile-Keychain

It creates a keyFile for the keychain from random data, saves it to `/var/db/.AutoPkgrKeys/UID_xx`, then locks down both with `root 700` permissions. [(As seen Here)](https://github.com/lindegroup/autop

[2015-02-18 18:05] ssmurphy commented on #280
Disregard last email. Sent to the wrong address.

Steve Murphy
Associate Systems Engineer
Apple & NYC Infrastructure Services
Macintosh, OS X, iOS

Mast Global Technologies
Three Limited Parkway
Columbus, OH 43230
Phone, 614.415.5775
Cell, 614.747.6397
smurphy@lb.com<applewebdata://94793838-30D7-4577-8F29-CAD5E666ADD9/ssmurphy@limitedbrands.com>

PLEASE NOTE: My email address has changed to ssmurp

[2015-02-18 18:27] justinrummel commented on #277
This helped.  Thanks!

[2015-02-18 21:16] eahrold commented on #280
@bengreeno,

There are a few things which could be stopping the time based checks. First you may need to re-enable the check-box. The other thing is the email password may no longer be available.

If neither of those things help, check that you actually have the launch daemon running

[code]
should return this
[code]

Keep us posted...
Thanks.

[2015-02-18 22:12] bengreeno commented on #280
I disabled and re-enabled the checkbox. Also, I sent a test email to make sure that was working. The script resulted in 

- 0 com.lindegroup.AutoPkgr.schedule

I’ll let it run overnight again and see how it goes.

Ben Greeno | bengreeno@me.com | 847.630.4216

On Wed, Feb 18, 2015 at 3:16 PM, Eldon Ahrold <notifications@github.com>
wrote:

[2015-02-18 22:17] eahrold commented on #280
You should be good to go then.
You can also manually invoke the background run like this
[code]
And make sure everything looks good with that.

[2015-02-18 22:17] bengreeno commented on #280
Sounds good. Thanks!

Ben Greeno | bengreeno@me.com | 847.630.4216

On Wed, Feb 18, 2015 at 4:17 PM, Eldon Ahrold <notifications@github.com>
wrote:

[2015-02-18 22:44] #280 closed

[2015-02-18 23:11] DenyVL opened #282 "Error Code 2"
I am quite new using autopkgr.
Installed munki, xcode, Xcode tools, autopkgr 1.2.
Followed the installation guides, settings seams to be good, BUT, still got these error messages...

makepkginfo execution failed with error code 2: No such file or directory

Any idea?
Thx
Lajos

[2015-02-19 00:55] eahrold commented on #282
Not sure why, but you _may_ need to reinstall munki, seems similar to this: https://github.com/autopkg/autopkg/issues/23

What do you get when you run this?
[code]

[2015-02-19 01:18] DenyVL commented on #282
Dunno, will try it and let u know

Sent from my iPhone5

[2015-02-19 05:42] DenyVL commented on #282
Hi,

I fixed it, it is all good now...

thx a lot
Lajos

[2015-02-19 14:44] GrahamPayton commented on #282
I am getting the same error.  Can you post how you fixed it please?

Thanks in advance

[2015-02-19 22:00] homebysix opened #283 "GitHub version in email notification is being mis-reported"
I think the recipe versions may be getting mixed up in the email notifications. Here are some recent notifications I've received. Notice the version of GitHub seems to be inherited from the previous recipe in the list.

![screen shot 2015-02-19 at 1 53 20 pm](https://cloud.githubusercontent.com/assets/7801391/6276969/7696185c-b83f-11e4-841f-6c6a3dd34d87.png)

If I clear my AutoPkg cache and run `a

[2015-02-20 01:11] tbridge opened #284 "AutoPkgr cannot select recipe files"
I'm new to AutoPkgr, and installed it on my test Munki/AutoPkg master. The master is a 10.10.2 machine, with developers tools installed, and OS X Server 4. AutoPkg is 0.4.2 (current), and Munki is current (2.2.x). However, when I attempt to get AutoPkgr checking recipes and repos, I'm struggling to get it going.

These are my steps to reproduce:

1. Install AutoPkgr 1.2
2. Open AutoPkgr
3. See gre

[2015-02-20 02:23] eahrold commented on #284
@tbridge,
looks like it may be an environmental issue...
I would start by installing the command line tools then running
[code]
see if that works out any better.

[2015-02-20 02:29] tbridge commented on #284
Eldon,

The Command Line Tools *are* installed, which is why I was so confused:

brookland:Cache ladmin$ defaults read com.github.autopkg GIT_PATH
/Library/Developer/CommandLineTools/usr/bin/git

[2015-02-20 02:42] eahrold commented on #284
Sorry, I mis-read the post, and thought it was using the git from the Xcode.app bundle.

That is strange, go to `/Library/Developer/CommandLineTools/usr/libexec/git-core/` and check if the git-sh-setup actually exists. If not you may be missing other components from there, there should be about 168.

If you have nowhere near that many you should probably trying re-installing the Xcode command line

[2015-02-20 02:49] tbridge commented on #284
Interesting - I've got several other git folders there, but not git-core.

    brookland:bin ladmin$ ls -al | grep git
    -rwxr-xr-x   1 root  admin   1596704 Nov 17 13:13 git
    -rwxr-xr-x   1 root  admin    163291 Sep 18 16:19 git-cvsserver
    lrwxr-xr-x   1 root  admin         3 Dec  3 09:22 git-receive-pack -> git
    -rwxr-xr-x   1 root  admin    787952 Nov 17 13:13 git-shell
    lrwxr-xr-

[2015-02-20 02:52] eahrold commented on #284
Actually you should check
`/Library/Developer/CommandLineTools/usr/libexec/git-core/`

looks like you may be at
`/usr/bin`

[2015-02-20 02:55] tbridge commented on #284
Apologies, Eldon. See below:

    brookland:git-core ladmin$ pwd
    /Library/Developer/CommandLineTools/usr/libexec/git-core
    brookland:git-core ladmin$ ls -al | grep git-sh-setup
    -rw-r--r--    1 root  admin     8170 Sep 18 16:19 git-sh-setup

[2015-02-20 02:58] eahrold commented on #284
Is there anything in that folder at all?

[2015-02-20 03:01] tbridge commented on #284
It's a file, not a folder.

[2015-02-20 03:09] eahrold commented on #284
Oh yeah.

try running the `git-sh-setup` script, it may repair the env path causing the issue.

[2015-02-20 03:56] eahrold commented on #283
You running a build off the 1.2.1 branch.
I just got this...

![screen shot 2015-02-19 at 9 48 11 pm](https://cloud.githubusercontent.com/assets/3740088/6281192/2a627f38-b881-11e4-93c7-6cf8ff6ea280.png)

with ...
com.github.homebysix.pkg.GitHub
com.github.autopkg.download.Adium

[2015-02-20 16:02] tbridge commented on #284
So, when I do run the script:

    fatal: Not a git repository (or any of the parent directories): .git

[2015-02-20 16:23] homebysix commented on #283
Nope, I'm running 1.2. I'll try 1.2.1 and report back.

[2015-02-20 21:13] eahrold commented on #284
I just looked at that script a little close and it wasn't what I though it was.

Some how you've got something funny in your shell environment. So the next thing to check some of that.

[code]

[code]
If that doesn't return `/Library/Developer/CommandLineTools` run

[code]

Did you try reinstalling the command line tools yet?

[2015-02-20 21:27] tbridge commented on #284
OK.

    brookland:~ ladmin$ which git
    /usr/bin/git
    brookland:~ ladmin$ xcode-select -p
    /Applications/Xcode.app/Contents/Developer

Seeing that, I said:

    brookland:~ ladmin$ sudo xcode-select -s /Library/Developer/CommandLineTools/

But that didn't help, so I went and attempted to reinstall the command line tools:

    brookland:~ ladmin$ xcode-select --install
    xcode-select: er

[2015-02-20 23:31] eahrold commented on #284
At this point you I would just install the official git from https://github.com/timcharper/git_osx_installer/releases/download/2.2.1/git-2.2.1-intel-universal-mavericks.dmg

Good news  a more secure version of git than you would get with Xcode. (see https://github.com/blog/1938-vulnerability-announced-update-your-git-clients)

Then change the git path for autopkg
[code]

I think there's also a set

[2015-02-22 14:36] foigus opened #286 "Menu Doesn't Show the Most Recent Date and Time of AutoPkg(r) Run"
I've set up AutoPkg + AutoPkgr on my server and while the automated runs (and notification emails) are occurring, the menubar doesn't show the most recent date.  system.log (with verbose logging enabled) includes the following:

Feb 22 08:08:25 server AutoPkgr[19760]: [DEBUG] Completed AutoPkg Task:
	  /usr/bin/python /usr/local/bin/autopkg run --recipe-list /Users/admin/Library/Application Suppor

[2015-02-23 19:23] myztikoot opened #287 "Unable to connect to JSS"
When pressing connect in order to verify credentials the yellow icon next to the JSS URL field changes to red and the following happens in the Console:

[DEBUG] Got authentication challenge
[DEBUG] Error [11]: Error getting distribution points   The Casper server's response could not be correctly interpreted

Github, Autopkg, and JSSImporter all show installed. I've tried several different usernam

[2015-02-24 00:13] eahrold commented on #286
@foigus,
Thanks for this report. I'll dig in and figure it out.

One quick question, does this update when you run manually?

[2015-02-24 03:30] foigus commented on #286
When run from the menu bar icon or from inside the AutoPkgr preferences window, the date and time in the menu bar is updated to the appropriate time.

[2015-02-24 18:55] jyoung88 opened #289 "Error running recipes"
We have been trying get AutoPkgr up and running. During our JAMF JumpStart we had it working on temporary VM. Now that it has moved to its permanent home on a Mac Mini Server we have not been able to get it to import jss recipes. It will download pkg recipes just fine. We have double and tripped checked our api account and connections to mount the shares. We have downloaded the CA Certificate from

[2015-02-24 19:25] futureimperfect commented on #289
Hi @jyoung88,

Do you have the Casper share mounted on the server you're running AutoPkgr on? The JSSImporter processor may fail if this is already mounted, since it tries to mount it automatically. It could be that you have Casper Admin running, which mounts the share. If this is the case try unmounting the share and running again.

Thanks!

--
James Barclay

[2015-02-24 19:31] mgrevtech opened #290 "Auto to Some"
@eahrold
Hey Eldon, so I have a question regarding the "Level 2: Auto to Some" method. Level 1 works fine for me at the moment, with a couple of reciple errors here and there.
But I am kind of confused about how Level 2 works, does it mean that I could setup updates to run automatically for one group, say, the 'Testing' Group and then make updates available through self-service for any other group

[2015-02-24 19:33] jyoung88 commented on #289
Nope. No share mounted. Even restarted server to make sure i did not have it mounted on one of my other machines.

[2015-02-24 20:31] eahrold commented on #289
This may be a typo due to retraction, but the url formatting is a little off here...

 `afp://my username and password:reaper-facstaff@reaper-lab.noc.sbc.edu:548/CasperShare`

Just to be sure the error says

`afp://myusername:mypassword@reaper-lab.noc.sbc.edu:548/CasperShare`

not

``afp://mypassword:reaper-facstaff@reaper-lab.noc.sbc.edu:548/CasperShare`
`
where the password comes first.

[2015-02-24 20:34] eahrold commented on #290
Hey@mgrevtech,
@homebysix is actually the JSS expert among us. Elliot, any suggestions?

[2015-02-24 20:38] eahrold commented on #289
Also, I'm not sure if you're running proxies but this thread contains discussion of a similar exit code (58)
#194

[2015-02-24 22:14] homebysix commented on #290
Hi @mgrevtech. Yes to all of the above!

If you follow the Level 2 instructions verbatim, you'll end up modifying your existing Self Service policies to become non-Self Service "auto update" policies. However, you can have both Self Service and auto update policies running side by side. The secret to this is that you can create multiple copies of the template .xml files, and also multiple copies o

[2015-02-25 03:57] mgrevtech commented on #290
Hey @homebysix
Perfecto! Thats like words out of my mouth. That's exactly what I had in mind except something like Firefox-1.jss, Firefox-2.jss and so on. But I wasn't sure if it would work and didn't want to mess up the whole setup, maybe I should have tested it out first. I will give this one a try and let you know.

Thanks a lot for letting the secret out :) and thanks for adding the new bonus

[2015-02-25 11:41] fridomac opened #291 "Which git install is used?"
Hello! I installed Autopkgr (and Munki beforehand) through the "Munki-in-a-box"-script (lazy, I know :-)

If I now try to add recipe repos, I get the following:

ERROR: /Library/Developer/CommandLineTools/usr/libexec/git-core/git-pull: line 11: git-sh-setup: No such file or directory

although command line git pull works fine.

Can I somehow set which git binary to use?

Bye, Frido.

[2015-02-25 13:41] eahrold commented on #291
@fridomac,
We actually just had a [similar report](https://github.com/lindegroup/autopkgr/issues/284#issuecomment-75338871) from @tbridge.

I just tried reproducing on a clean install of 10.10, but was unable to do so.
I'll have to leave you with the same advice as I did him.

Install the official git from https://github.com/timcharper/git_osx_installer/releases/download/2.2.1/git-2.2.1-intel-univ

[2015-02-25 14:11] jyoung88 commented on #289
it was my typo on the username password format. We do not use proxies. I have scrapped it from he Mac Mini I was using and putting it in VMware Fusion on a spare iMac in my office. Will update once it is done installing.

[2015-02-25 14:53] eahrold commented on #289
The error 58 really looks like an "already mounted" error. Casper admin wasn't set to open at login was it?

[2015-02-25 17:32] #290 closed

[2015-02-25 18:37] jyoung88 commented on #289
Fresh install of OS X 10.10 Server, loaded TextWrangler and AutoPkgr in a new vm. First run of AutoPkgr to grab the .pkg works fine. Go back in and deselect the .pkg and select the .jss version and get this -

A Python exception occurred during the execution of autopkg, see the console log for more details.

[ERROR] jss.contrib.requests.exceptions.SSLError: [Errno 1] _ssl.c:507: error:14090086:SSL

[2015-02-25 19:08] eahrold commented on #289
Hey @jyoung88,
So the AFP mount error has nothing to do with the `InsecureRequestWarning` what so ever.

Since you're making it far enough in the AutoPkg run to see this,  `[ERROR] subprocess.CalledProcessError: Command ...` your JSS reachable, working correctly, and the SSL errors can be ignored.

I'm guessing for some reason the share is not getting successfully un-mounted, or a folder still inc

[2015-02-25 19:19] jyoung88 commented on #289
Checked before running and only thing in was the volume of the vm. No shares. Ran and got same error.

[2015-02-25 20:07] eahrold commented on #289
After you get that error, if you try to connect to your file server using Finder is the `CasperShare ` share grayed out?

[2015-02-25 20:13] eahrold commented on #289
@jyoung88,
So I've put a test script up here...
https://gist.github.com/eahrold/cbff74461bba8e8e4c0b#file-afp_mount_test-py

Let me know if you get the same result when running this as when run using AutoPkg(r)...

[2015-02-25 21:10] jyoung88 commented on #289
CasperShare is grayed out after error when accessing from Finder.

I also unmounted the drive and typed in afp://username:password@reaper-facstaff.noc.sbc.edu:548\CasperShare in Finder>Go To Server and it mounted just fine. Went to Terminal and did a sudo diskutil unmount CasperShare to throw it out. Go back to /Volumes and nothing there.

Ran the script and it mounted and unmounted fine. While mo

[2015-02-25 21:20] eahrold commented on #289
So now it's an even different error. And I actually have no idea why this is happening
[code]
Did you also have a JDS configured?

[2015-02-25 21:36] jyoung88 commented on #289
No JDS

[2015-02-26 06:41] vincentw8460 opened #292 "Email notifications that group recipe types"
I'm not sure if this has been asked before, but would it be possible to have the email notifications sent by AutoPkgr separate the new software by install type?

Say I have two recipes:
   * Add Thunderbird to a Munki repo

![screen shot 2015-02-26 at 12 32 02 am](https://cloud.githubusercontent.com/assets/6693452/6387369/e2fd31dc-bd4f-11e4-83f2-6f4d6d0ad9cc.png)

   * Install the Atom text editor

[2015-02-26 10:00] emilholt opened #293 "Python UnicodeEncodeError with umlauts in recipe overrides"
Since version 1.2 we haven't been able to to use AutoPkgr as long as we have any eight bit ascii characters in our recipe overrides (for example an "ä" in a description field).
AutoPkgr throws this error:

A Python exception occurred during the execution of autopkg, see the console log for more details.

[ERROR] UnicodeEncodeError: 'ascii' codec can't encode character u'\xe4' in position 43: ordin

[2015-02-26 11:28] fridomac commented on #291
Then it is the autopkg git config that is somehow wonky, thanks, worked perfectly!

[2015-02-26 11:28] #291 closed

[2015-02-26 14:17] eahrold commented on #293
@emilholt,
When you do `autopkg run` from a shell are you using the `--recipe-list` argument or are you just listing multiple single recipes?

[2015-02-26 14:32] eahrold commented on #293
Also would it be possible for you to post a specific override you're having trouble with? I've not been able to reproduce.

[2015-02-26 14:54] emilholt commented on #293
I've just been running `autopkg run --verbose Firefox.jss`

The Firefox.jss.recipie override looks like this:

[code]

[2015-02-26 15:00] eahrold commented on #293
Thanks,
Give it a try like this,

`autopkg run --verbose --recipe-list ~/Library/Application\ Support/AutoPkgr/recipe_list.txt`

And I'll test the override.

[2015-02-26 15:03] emilholt commented on #293
`autopkg run --verbose --recipe-list ~/Library/Application\ Support/AutoPkgr/recipe_list.txt` went through without a hitch.

Thanks for your help!

[2015-02-26 15:10] eahrold commented on #293
And now, without changing anything does AutoPkgr fail?

[2015-02-26 15:12] emilholt commented on #293
Yup. While processing local.Firefox.jss.recipe:
![screen shot 2015-02-26 at 16 12 03](https://cloud.githubusercontent.com/assets/9348098/6394520/5009de1a-bdd2-11e4-8e84-58b2cbc25cf1.png)

[2015-02-26 15:14] eahrold commented on #293
There should be a great big traceback in you system.log, mind posting that.

[2015-02-26 15:21] emilholt commented on #293
Sure thing:

    Feb 26 16:11:37 macserv1 AutoPkgr[6880]: Processing local.jss.Firefox...
    Feb 26 16:11:39 macserv1 kernel[0]: hfs: summary table not allowed on FS with block size of 2048
    Feb 26 16:11:39 macserv1 kernel[0]: hfs: could not initialize summary table for Firefox
    Feb 26 16:11:39 macserv1 kernel[0]: hfs: mounted Firefox on device disk1s2
    Feb 26 16:11:40 macserv1 kernel[0]

[2015-02-26 15:31] eahrold commented on #293
From this it looks like it may actually be the `CATEGORY` key causing the problem. However this still doesn't answer the question why it's only happening in AutoPkgr. It's most likely some environmental key set for your system that's not getting picked up by AutoPkgr. I'll do some more digging and see what I uncover.

Thanks for the report and keep you posted.
-- Eldon

[2015-02-26 16:55] eahrold commented on #293
@emilholt,

if you feel like tinkering I think I found a fix.
You'll need to edit `/Library/AutoPkg/autopkglib/__init__.py`

Find line 225 which is the last line of this
[code]

and change that line to this
[code]

which is adding `.encode('utf-8')` to the end of both `self.__class__.__name__` and `msg`

I don't know how much experience with python you have, so make sure you exactly 12 spaces befo

[2015-02-27 10:25] emilholt commented on #293
That worked like a charm, kept whitespace in mind while editing, thank you!

[2015-02-27 13:17] eahrold commented on #293
Great!
I've got a pull request in for the change, so hopefully you won't need to modify that file after the next autopkg update.

[2015-02-27 18:57] homebysix opened #294 "URLs aren't clickable in email notification errors"
The URLs in an email like this aren't clickable in many email apps because of the trailing colon.

I think we should separate the URL from the colon in some way. Perhaps like this:

[2015-02-27 19:00] homebysix opened #295 "1.2.2"

[2015-02-27 19:01] #295 closed

[2015-02-27 19:03] homebysix commented on #227
Is there a way we can use the password stored in AutoPkgr.keychain to do a find/replace on the strings in the email message?

Equivalent to `sed 's/saved-password/[redacted]/g'`?

[2015-02-27 19:05] homebysix commented on #253
@eahrold Is this easy to implement, do you think?

[2015-02-27 19:06] #277 closed

[2015-02-27 19:07] homebysix commented on #279
Addressed by 3b498f8f1dbc3ca3e9f81abd9eed48681a053de7.

[2015-02-27 19:07] #279 closed

[2015-02-27 19:08] homebysix commented on #282
@DenyVL, do you mind sharing what the fix was? Thanks!

[2015-02-27 19:08] homebysix commented on #283
This hasn't recurred, even in 1.2.

[2015-02-27 19:08] #283 closed

[2015-02-27 19:09] homebysix commented on #284
@tbridge Did installing the official git fix this? We had another report of the same issue, and I believe that worked.

[2015-02-27 19:10] #286 closed

[2015-02-27 19:20] eahrold commented on #253
I was fooling around with this a little bit, but I'm not sure what the desired outcome is.
If the check proves TRUE, what then?

Do we want to try to close Casper Admin, and unmounting the share?
If that fails do we, un-stage the recipes, or continue on knowing an error will be produced.

Isn't a generated error what we want after all, alerting us that something isn't working and needs to be addre

[2015-02-27 20:53] homebysix commented on #253
I think we should abort all .jss recipes in the autopkg run and email an alert that says "Quit Casper Admin to continue running recipes with JSS integration."

Trying to close Casper Admin without knowing for sure what the app is doing is potentially hazardous. Best to simply report rather than take action.

[2015-02-27 21:15] golbiga opened #296 "No valid recipe found"
I started receiving errors for certain recipes.

The following errors occurred:
Could not find parent recipe for com.github.golbiga.jss.FirefoxAutoconfig
No valid recipe found for com.github.golbiga.jss.FirefoxAutoconfig. It has been automatically removed from your recipe list in order to prevent recurring errors.

Could not find parent recipe for com.github.sheagcraig.jss.pycharm
No valid recipe

[2015-02-27 23:42] eahrold commented on #284
@tbridge
So apple does an interesting things with where it locates git, it uses a sort of redirector to switch between the git in Xcode and that of the CLI tools.

Since actually calling that executable triggers the "Install Command line tools" dialog we tried to circumvent it by just hard coding the full path to the specific git i.e. `/Library/Developer/CommandLineTools/usr/bin/git` or `/Applicat

[2015-02-27 23:45] eahrold commented on #291
@fridomac
I'm glad installing the official git fixed this.

I do have one favor. I'm trying to see if using the default path osx uses for git corrects this issue...
Can you do
[code]
And letting us know if that works too.

Thanks.

[2015-03-02 00:06] JonMunford commented on #289
I'm getting the

[ERROR] Unable to complete file upload. File contents does not match file type.

and have been for a few weeks?  Did you find a solution to that one?

[2015-03-02 00:11] jyoung88 commented on #289
I'm still stuck on this one

-Jeff

On Sun, Mar 1, 2015 at 4:06 PM -0800, "Jon Munford" <notifications@github.com> wrote:

I'm getting the

[ERROR] Unable to complete file upload. File contents does not match file type.

and have been for a few weeks?  Did you find a solution to that one?

—
Reply to this email directly or view it on GitHub.

[2015-03-02 01:01] eahrold commented on #289
@jyoung88 @JonMunford,
You may want to head over the the [JSSImporter](https://github.com/sheagcraig/JSSImporter) page and post this issue there. Shea's really great at knowing what to ask.

Also if there's an actual traceback in the log would you mind posting it...

[2015-03-02 01:54] JonMunford commented on #289
I'll give that a try thanks.

Mine is definitely related to Java8 as the message goes away when i take it off of my list.

Thanks!

[2015-03-02 04:10] eahrold commented on #227
I just realized the problem we're going to have here is that in most cases, the DP information is actually pulled from the JSS, not configured in AutoPkgr, which means that AutoPkgr doesn't know what the `saved-password` is in this circumstance. The only password stored in the keychain is the email account, but that wouldn't show up in any error.

I'd rather take a more general approach and use re

[2015-03-02 16:15] ungerjm commented on #296
I am seeing the same issue with my FirefoxAutoConfig recipe. I am running version Version 1.2 (683) on 10.9.5.

"Could not find parent recipe for local.jss.FirefoxAutoconfig

No valid recipe found for local.jss.FirefoxAutoconfig. It has been automatically removed from your recipe list in order to prevent recurring errors."

This morning I unchecked it and then rechecked it in the list.  It ran twi

[2015-03-02 16:20] eahrold commented on #296
@ungerjm,
Can you confirm whether it's happening every time a scheduled run occurs, or is that random too?

[2015-03-02 16:23] ungerjm commented on #296
@eahrold I can update you after the next scheduled run.  Should I deselect and reselect it again?  Or leave as is?

When it had errors over the weekend, I only got the error once, I believe it removed from the recipe list after that, so the error did not appear again until I made changes this morning.

[2015-03-02 16:25] eahrold commented on #296
Do make sure it's in the recipe_list.txt file.

[2015-03-02 16:27] golbiga commented on #296
I just adjusted my schedule to run every hour and re-added the firefox & pycharm recipes. I'll know in a hour if it fails or not.

[2015-03-02 16:30] eahrold commented on #296
Thanks, I'm really curious to figure out why this is happening. It's only happening with these few recipes correct, not all the others.

[2015-03-02 16:32] ungerjm commented on #296
confirmed it is in the txt file and adjusted the schedule to 1 hr as well.

And yes, this is the only recipe I'm seeing it on.  I am not using the other recipe, pycharm that @golbiga mentioned.

[2015-03-02 17:17] homebysix commented on #289
Yep, looks like this is a known incompatibility between JSSImporter and Casper 9.65. There is a workaround, if you'd care to try:

1. Override the self_service_icon key in your .jss recipe:
[code]
2. Run the recipe. A policy will be created with no icon.
3. Log into the JSS and manually add the icon, making sure to use the .png file from your RecipeOverrides folder.
4. The error should not recur f

[2015-03-02 17:17] #289 closed

[2015-03-02 17:33] golbiga commented on #296
Just got the errors on my next scheduled run.

The following errors occurred:
Could not find parent recipe for com.github.golbiga.jss.FirefoxAutoconfig

No valid recipe found for com.github.golbiga.jss.FirefoxAutoconfig. It has been automatically removed from your recipe list in order to prevent recurring errors.

Could not find parent recipe for com.github.sheagcraig.jss.pycharm

No valid recipe

[2015-03-02 17:36] eahrold commented on #296
Crazy, do you have "Check for repo updates when AutoPkgr starts" enabled.
If so, try disabling that, re-enable the recipes, and see what happens after the next scheduled run.

[2015-03-02 18:46] golbiga commented on #296
Happened again with those two recipes with "Check for repo updates when AutoPkgr starts". I can run them manually and no issues.

[2015-03-02 18:50] eahrold commented on #296
OK, I'm digging,

Also you can trigger the background run in the exact the same way the LaunchDaemon does by running
[code]
See if that produces the same results.

[2015-03-02 18:53] ungerjm commented on #296
I too got the same errors on the scheduled run.  I'm away from my machine
and can't try the launch daemon now, but I'm happy to do it later.

On Monday, March 2, 2015, Eldon Ahrold <notifications@github.com> wrote:

[2015-03-02 19:01] mgrevtech opened #297 "Could not mount distribution point"
@homebysix
Attached are two log files from JSS, one for the Auto Update policy and one for Firefox AutoUpdate policy that I have setup, as an example.
[code]

[code]

So for some reason, NONE of the AutoUpdate policies work for any of the Apps like Firefox, Chrome, Java, etc. EXCEPT for AdobeFlashPlayer autoupdate, which works without any errors at all. I keep getting the same errors for all those

[2015-03-02 19:02] golbiga commented on #296
It does not fail when i trigger the background run.

[2015-03-02 19:13] homebysix commented on #297
Hi @mgrevtech,

The following error tells me that something else has already mounted a volume called "CasperShare" on the target Mac.
[code]
Could this Mac be running Casper Admin? Be sure to quit Casper Admin before autopkg runs.

If Casper Admin is not a factor, then it's likely that something is causing the sharepoint to fail to unmount after a successful recipe run, and the subsequent recipe t

[2015-03-02 19:14] golbiga commented on #296
I forgot to leave out that I'm also running 1.2 on 10.9.5, not sure if it has anything to do with this.

[2015-03-02 20:29] gerardweese commented on #253
@homebysix @eahrold I agree. This should just generate a useful error / warning nothing more.

[2015-03-02 21:28] eahrold commented on #253
This may soon be moot.
I think I figured out a way so CasperAdmin can be open while JSSImporter is processing.  The PR is here https://github.com/sheagcraig/python-jss/pull/28 if you want to check it out.

[2015-03-03 01:21] eahrold commented on #296
Ok, I'm about 73% sure I found the culprit. Let me know if this fixes things...
[code]

[2015-03-03 10:10] mgrevtech commented on #297
Ok that theory did not work out. Rest of the apps still fails without AdobeFlashPlayer.jss

Do you mean the 'client macs' that I am runnning the policies on or the mac that I have on which autopkgr runs? My mac does have casper admin on it but it never runs while I am working on Autopkg. And I do a restart usually before running autopkg just to make sure.

What could be causing the mount points to

[2015-03-03 13:55] golbiga commented on #296
Ok, i just re-enabled the receipes and restarts cfprefsd. I'll know on the next scheduled run.

[2015-03-03 15:17] golbiga commented on #296
No errors, that looks like it fixed the issue.

[2015-03-03 15:44] eahrold commented on #296
Yep, that''s what I was afraid of.

Basically the defaults, even though synchronized and written to disk are not getting picked up when triggered by launchd, even though the launchd job is run as a user.

We should be putting up a 1.2.1 release soon, and we'll make sure to get the fix for this in.

[2015-03-03 16:01] golbiga commented on #296
Thanks!

[2015-03-03 17:17] eahrold commented on #244
This should be addressed by 1ceed33

[2015-03-03 18:45] eahrold commented on #284
@homebysix, I found a _possible_ fix for this, however I was unable to reproduce the issue, so can't verify the solution.

Basically it boils down to 10.10 passing in duplicate environment keys to GUI applications, one of which is the PATH key. Then git modifies the first instance of that key, but the spawned python process uses the second instance, which lacks the modifications git has made.

Her

[2015-03-03 19:01] eahrold commented on #291
@fridomac there's a continued discussion here https://github.com/lindegroup/autopkgr/issues/284#issuecomment-77007740

Would you mind taking a look and reporting back.

Thanks,

Eldon

[2015-03-03 19:07] tbridge commented on #284
I am seeing duplicate keys:

####### Checking Environment Keys 2015-03-03 19:07:06 +0000 #######

PATH = /usr/bin:/bin:/usr/sbin:/sbin
USER = ladmin
[OSX 10.10 BUG] Found a duplicate env key PATH = /usr/bin:/bin:/usr/sbin:/sbin
LOGNAME = ladmin
SSH_AUTH_SOCK = /private/tmp/com.apple.launchd.jZGoW4yG1x/Listeners
Apple_PubSub_Socket_Render = /private/tmp/com.apple.launchd.j9x8mDoZYA/Render
HOME = /U

[2015-03-03 19:21] tbridge commented on #284
And running ```defaults write com.github.autopkg GIT_PATH /usr/bin/git``` did not fix the issue.

[2015-03-03 19:33] eahrold commented on #284
@tbridge thanks for doing this, it confirms some of my suspicions.
I've just built a version of AutoPkgr with the fix applied, mind giving that a test drive.

https://dl.dropboxusercontent.com/u/120270/AutoPkgr_dup_env_fix.zip

Keep an eye on the system log for duplicate key warnings,

Thanks again for your help.

[2015-03-03 19:49] tbridge commented on #284
This seemed to work, but I've now got a separate issue that I'll start in a second ticket.

[2015-03-03 19:49] fridomac commented on #291
Hello,

Sorry, was away from the office for a few days.

This worked, too. Will check out the discussion in the link you sent, too.

Thanks again,

Fridolin.

Von meinem iPad gesendet

[2015-03-03 19:53] eahrold commented on #284
Great, the code is small enough we should be able to get this in.

[2015-03-03 19:55] tbridge opened #300 "Out of Range issue"
Hi all,

Setting up AutoPkgr to run the recipe for both OracleJava7 and OracleJava8 generates this error in the system log:

Mar  3 14:46:28 brookland.technolutionary.com AutoPkgr[12528]: (FULL AUTOPKG TRACEBACK)
	  File "/usr/local/bin/autopkg", line 1469, in <module>
	    sys.exit(main(sys.argv))
	  File "/usr/local/bin/autopkg", line 1463, in main
	    exit(subcommands[verb]['function'](argv))

[2015-03-03 19:55] eahrold commented on #291
Great,
Thanks for the update.

[2015-03-03 20:08] eahrold commented on #300
Is this only when run from AutoPkgr or do you get the same thing when run from AutoPkg?

[2015-03-03 20:09] eahrold commented on #300
Also which Oracle recipe (munki / download / pkg)?

[2015-03-03 20:12] tbridge commented on #300
It's the OracleJava8.munki recipe. Looks like autopkg is barfing on it too, I'll refile.

brookland:Cache ladmin$ autopkg run OracleJava8.munki
Processing OracleJava8.munki...
Traceback (most recent call last):
  File "/usr/local/bin/autopkg", line 1469, in <module>
    sys.exit(main(sys.argv))
  File "/usr/local/bin/autopkg", line 1463, in main
    exit(subcommands[verb]['function'](argv))
  File

[2015-03-03 20:12] #300 closed

[2015-03-03 20:37] eahrold commented on #253
@homebysix , @gerardweese
Not sure if either of you are up to it, but it would be helpful if you could give the modification I have in the above PR a test drive.  You should be able to just switch out the  `/Library/Python/2.7/site-packages/python_jss-0.5.5-py2.7.egg/jss/distribution_points.py` for the one here https://github.com/eahrold/python-jss/blob/dynamic-mount-point/jss/distribution_points.

[2015-03-03 22:33] ToddToddTodd commented on #282
I'm receiving the same error "makepkginfo execution failed with error code 2: No such file or directory". @DenyVL, any chance you can share your solution?

[2015-03-03 22:48] eahrold commented on #282
@ToddToddTodd, are you experiencing this from both manual runs and scheduled runs?
If it's happening only during scheduled runs try doing this

[code]
That may fix the issue.
Keep us posted. Thanks.

[2015-03-04 01:05] DenyVL commented on #282
Sorry guy for the late reply...
What I have done, I tried /usr/bin/which makepkginfo but nothing showed up.
After that I have installed git-2.2.1-intel-universal-mavericks.dmg and it worked. I think It was not installed before. When you install AutoPkgr it says that Git has been installed, but in my case maybe it did not. Dunno. But after that it worked.

[2015-03-04 02:17] eahrold opened #302 "Only e-mail when run from schedule. Post notification otherwise."
Would it make sense to do it this way. If you're triggering the run manually I think a simple notification badge that when clicked opens a "report" popup window should suffice.

Votes?

[2015-03-04 06:47] eahrold commented on #282
Did you reinstall munki too?

 I just went over the MunkiImporter.py code from autopkglib and the path for `makepkginfo` is [hard coded](https://github.com/autopkg/autopkg/blob/master/Code/autopkglib/MunkiImporter.py#L401) and the error would be the exact thing you would see if it couldn't locate the `/usr/local/munki/makepkginfo` file  [(see here)](https://github.com/autopkg/autopkg/blob/master/C

[2015-03-04 07:28] DenyVL commented on #282
Yes

[2015-03-05 00:10] homebysix commented on #302
Actually, I think the existing behavior (email always) is better, because 1) it's more consistent, and 2) the first thing people often do to make sure AutoPkgr is working is to click the "Run AutoPkg Now" button and make sure the email came through.

In theory the Send Test Email button should do the job, but it's reassuring to know that all your selected recipes are being reported properly after

[2015-03-05 14:12] jimmymac641 opened #304 "Error running recipes"
A Python exception occurred during the execution of autopkg, see the console log for more details (pasted below).

[ERROR] jss.contrib.requests.exceptions.SSLError: [Errno 1]_ssl.c:504: error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed.
is the message returned from AutoPkgr, the jss has a self certificate which one would think should be sufficient. Included below is

[2015-03-05 14:38] eahrold commented on #304
Usually AutoPkgr will set JSS_VERIFY_SSL key correctly. Couple of questions.
1. Were you presented with a popup dialog to accept your certificate when you first configured the JSS with AutoPkgr?
2. What do you get when you do
   ```defaults read com.github.autopkg JSS_VERIFY_SSL```

[2015-03-05 14:44] jimmymac641 commented on #304
I can't remember it was a few months ago when I installed version 1.01 maybe and yesterday when I revisited this I noticed it was up to version 1.2 which is what I installed.
The reply of the query is a single integer 1

[2015-03-05 15:05] eahrold commented on #304
OK, mind giving this a try. Go to the Folders & Integration tab and click "Connect" in the JSS config section.

You should be prompted with a Confirmation dialog. If you click "continue" the defaults read should return 0.

If it does not let us know, and you can always just set the key manually
[code]

Thanks

[2015-03-05 15:32] jimmymac641 commented on #304
So clicking "Connect" spawns the "Distribution Point Password Required" dialogue asking "Please enter read/write password for the "JSSshare" distribution point. If you intend to configure manually just click "Cancel"" to which I have 2 choices "Cancel" or "OK" If I choose cancel it deletes the distribution points I have. But the defaults read command at that point does indeed return a zero value.

[2015-03-05 16:33] eahrold commented on #304
So the SSL warnings are just nagging now, not an actual error, and those can be fixed this way #243

But now yo have a different error.

The subprocess error is probably similar to they #236.
Special characters in the password should be fine, do you have any special characters in your username?

[2015-03-05 18:42] jimmymac641 commented on #304
So based on the suggestion the link to issue #243 I did the defaults write command to suppress warnings and contrarily it actually gave me more output than the previous error log. I am only attempting 1 package (Firefox.jss) and only have 2 repositories selected for my initial tests so I don't know where the seemingly repeated warnings are being generated from.

2015-03-05 1:12:29.169 PM AutoPkgr[

[2015-03-05 19:12] homebysix commented on #304
The `Unable to complete file upload. File contents does not match file type.` error makes me think it's having trouble uploading the Self Service icon file. Are you running Casper 9.65 by chance? If so, see this: https://groups.google.com/d/msg/autopkgr-discuss/_N5iXe4maFk/cJakARACZaAJ

Basically: skip the icon upload the first time (by overriding the key/value pair) and then upload the icon manua

[2015-03-05 19:15] jimmymac641 commented on #304
Actually running 9.64 but I will have a read and do as you suggest.

Thanks

[2015-03-05 19:56] jimmymac641 commented on #304
So in an attempt to circumvent a duplication or pre-existing condition error. I chose an application that we do not currently have packaged nor a policy for. One that has never been deployed here at all (Handbrake) The results seem to be similar.

2015-03-05 2:51:48.855 PM AutoPkgr[735]: (FULL AUTOPKG TRACEBACK)
  File "/usr/local/bin/autopkg", line 1469, in <module>
    sys.exit(main(sys.argv))

[2015-03-05 20:46] jimmymac641 commented on #304
Just an update to the Handbrake experiment. Running "run autopkg -vvv handbrake.download" and "run autopkg -vvv handbrake.pkg" execute without incident and the resultant package is added to Casper as expected. It is only when running the "run autopkg -vvv handbrake.jss" do I receive the error messages posted above.

[2015-03-05 20:57] eahrold commented on #304
That would make sense. You're definitely experiencing a JSSImporter issue.

Did you do what Elliot suggested for the handbreak.jss override too?

[2015-03-05 20:58] homebysix commented on #304
@jimmymac641 and just a clarification on this:

I wouldn't expect a .download or .pkg recipe to add anything to Casper. Only .jss recipes do that.

[2015-03-06 07:58] SteveKueng opened #307 "Email notification just show version number"
When I get a mail notification form autopkgr there are only version numbers and no software names like in the screenshot below:

![screen shot 2015-03-06 at 08 51 01](https://cloud.githubusercontent.com/assets/5426904/6521914/f509fba0-c3dd-11e4-98f2-0601a4937aeb.png)

[2015-03-06 10:55] jelockwood opened #308 "SMTP Server default port"
As far as I can see AutoPkgr defaults to using/suggesting port 465 for contacting the SMTP server. While it is true that many mail servers support this port and it is also the case that Apple Mail as a client for example also suggests/tries that port it is my understanding that port 465 was never officially ratified as a port for SMTP traffic and is actually officially assigned to a different prot

[2015-03-06 17:18] homebysix commented on #307
Hi @SteveKueng. What recipe did you run to produce this output? I'm guessing the %NAME% of the recipe is set to SW, so that's something that could be fixed with an override.

[2015-03-06 17:22] homebysix commented on #308
Hi @jelockwood. The main reason I suggested using 465 was because it's the default port for smtp.gmail.com, which is the placeholder we use in the SMTP server field. Many of the companies that use AutoPkgr also use Google Apps to send mail, so this placeholder example is useful for many, I think.

However, we'll probably switch to a different interface for specifying ports soon. Something like thi

[2015-03-06 19:28] jimmymac641 commented on #304
I ended up sourcing and uploading the PNG manually and when testing a final time I am still left with this error message from AutoPkgr.

Thoughts?

2015-03-06 2:21:35.189 PM AutoPkgr[29325]: (FULL AUTOPKG TRACEBACK)
  File "/usr/local/bin/autopkg", line 1469, in <module>
    sys.exit(main(sys.argv))
  File "/usr/local/bin/autopkg", line 1463, in main
    exit(subcommands[verb]['function'](argv))

[2015-03-06 19:36] homebysix commented on #304
@jimmymac641 I know you already ran `defaults write com.github.autopkg JSS_VERIFY_SSL -bool False` but it might be good to try that one more time.

If that doesn't fix it, I'd recommend waiting just a while. A little birdie tells me that JSSImporter is about to get an update.

[2015-03-06 20:43] jimmymac641 commented on #304
Thanks for the assistance and heads up on the impending update. There was on other thing I am noticing the packages that uploaded/listed in Casper Admin, I notice there is no associated Checksum. Is this expected behaviour?

[2015-03-06 21:23] homebysix commented on #304
Hi @jimmymac641. You may want to run the command @sheagcraig mentioned here to get the latest python-jss: https://twitter.com/shea_craig/status/573954102171860992

And yes, packages uploaded to Casper Admin will not have a checksum. That should not prevent deployment.

[2015-03-08 01:36] robbybarnes opened #309 "AWS Distribution Point"
Is there any way, or any plans for a way, to use an AWS distribution point?

It would be ideal if we could create an IAM user on AWS specifically for autopkgr and allow it to log in to our S3 storage with that individual IAM user, so that all logs are accurate and easy to determine where it is coming from.

[2015-03-08 22:58] #227 closed

[2015-03-08 22:58] #296 closed

[2015-03-09 00:20] #244 closed

[2015-03-09 00:20] #270 closed

[2015-03-09 00:20] #271 closed

[2015-03-09 00:20] #272 closed

[2015-03-09 00:21] #273 closed

[2015-03-09 00:21] #282 closed

[2015-03-09 00:22] #284 closed

[2015-03-09 15:05] jimmymac641 commented on #304
Today, I attempted a fresh install of Autopkgr on a different computer and it detected the instance of Github installed and prompted to install Autopkg, however it did not subsequently prompt me to install the JSSImporter. I was trying download a different application this time (Evernote) because it was not one that we already had packaged. Even with verbose logging I only got a simple message "Er

[2015-03-09 15:34] futureimperfect commented on #304
Hi @jimmymac641,

Do you have any JSS recipes selected in the Repos and Recipes tab? Also, what happens when you try checking an additional JSS recipe?

Thanks!

--
James Barclay

[2015-03-09 15:42] jimmymac641 commented on #304
Yes as above you can see that I initially tried with the Evernote.jss recipe, which caused me to run them manually from autopkg when the fail occurred in Autopkgr. I can try different .jss recipes if you think it is worth trying, however I'm trying to pick software that we don't currently have packaged or have never tested before so that the tests are pristine. I have tried Handbrake and Audacity

[2015-03-09 16:00] eahrold commented on #304
It looks as thought you haven't installed JSSImporter on this new machine. Did you enter your JSS credentials in the `Folders & Integration` tab?

[2015-03-09 16:02] justinrummel opened #312 "Feature Request: Allow "Check for Update" in Menu item"
There is no way to force AutoPkgr to check for an update if you hide the dock icon.  You must unhide and then select AutoPkgr Menu Item => Check For Updates.

Suggestion is to include the option for "Check for Updates" in the Menu Item, or have a button to do this in the Preferences section.

 - Justin

[2015-03-09 16:13] jimmymac641 commented on #304
Yes the credentials were there but the button was still yellow. I went and clicked connect and it did eventually turn green and ask to install the JSSImporter.

Thank you I will now continue testing.

[2015-03-09 16:24] jimmymac641 commented on #304
This was result of testing "Handbrake" again

2015-03-09 12:21:17.624 PM AutoPkgr[14539]: [DEBUG] Error [3] Error running recipes
 Couldn't download http://handbrake.fr/rotation.php?file=HandBrake-0.10.0-MacOSX.6_GUI_x86_64.dmg&update=true: HTTP Error 404: Not Found
Couldn't download http://handbrake.fr/rotation.php?file=HandBrake-0.10.0-MacOSX.6_GUI_x86_64.dmg&update=true: HTTP Error 404: Not Fou

[2015-03-09 16:27] eahrold commented on #304
And in fact that link _is_ bad which means the recipe is in need of updating _or_ handbreak.fr fixes the link. So this is expected behavior. AutoPkgr is accurately reporting the results of the autopkg run.

[2015-03-09 16:35] jimmymac641 commented on #304
Strange, something must have happened over the weekend. I was not getting URL errors on Friday when testing that particular package.
Thanks for the confirmation though.

[2015-03-09 16:36] eahrold commented on #304
I actually see this exact thing quite often with handbreak, it should sort itself out in a day or two.

[2015-03-09 17:30] homebysix commented on #304
Yeah, the Handbrake recipe is erroring out on several of my boxes right now.

[2015-03-10 00:39] gerardweese commented on #230
@homebysix this is still an issue. I can still work around it by closing Chrome, and the cancel button works. Not a huge source of pain.

[2015-03-10 01:31] kylevitale commented on #230
It hasn't been happening for me.

On Mon, Mar 9, 2015 at 8:39 PM, gerardweese <notifications@github.com>
wrote:

[2015-03-10 08:23] SteveKueng commented on #307
hmm... that makes sense...
all our package names start with "SW_"
so the problem is the parsing... Is it possible to do change the parsing mechanism?

[2015-03-10 15:13] homebysix commented on #307
Ah, I see. We're stopping at the underscore. @eahrold something we can do about this?

[2015-03-10 20:58] kitzy commented on #309
+1

[2015-03-10 21:48] homebysix commented on #309
I'll have to defer to @sheagcraig since AutoPkgr rides along with JSSImporter w/r/t Casper integration. Shea, any idea how easy/hard this would be to implement?

[2015-03-10 23:59] sheagcraig commented on #309
I suspect that they work exactly the same as a JDS. But I've never had access to one to test it. So the answer is that maybe it's really, really easy.

[2015-03-11 00:25] robbybarnes commented on #309
You can set up a free account with S3 that gives you a decent amount of storage and IOs if it was something that someone wanted to test.  I know how to work with S3 and Amazon security stuff pretty well from a networking and storage/load balancing perspective, but I do not know much about coding or I'd offer to help out more.  If there's anything I could do to help with the development of this, I

[2015-03-11 12:30] eahrold commented on #307
We've been splitting at the underscore to handle situations like this...

------------------------------------------------------------------------

__The following software is now available for testing:__

__expander_5543:__ 5543
__Office2011-1448Update_EN-US:__ 1448

------------------------------------------------------------------------

Although maybe the above is OK if we catch more situation

[2015-03-11 13:00] sheagcraig commented on #309
Cool. I wasn't really aware of that. I'll have to spin one up and see what I can find out. I'll let you know via this issue when I have something to test.

[2015-03-11 15:46] homebysix commented on #307
I don't have any recipes with wandering underscores, but maybe @SteveKueng could give that branch a try? Steve, let me know if you want me to compile a release for you.

[2015-03-11 15:47] homebysix commented on #309
Thanks Shea!

[2015-03-11 15:51] SteveKueng commented on #307
Compile a release for me and I'll test it as soon as possible :)

[2015-03-11 15:53] eahrold commented on #307
@homebysix, more I'm wondering if it breaks any current recipes (those we've been handling correctly to this point). I only ask because I think you run a wider range of recipes than I do.

If you don't see any real "breakage" and you're fine with the results showing up like illustrated above, I'd be fine making this change.

[2015-03-13 12:51] jimmymac641 commented on #304
Just tried this out and Handbrake seems to be working once again. The problem now seems to be the policies don't seem to be populating on the scoped computers in Self Service, This however requires feedback from JAMF. Once I've worked through this with my JAMF rep I will comment again so the ticket may be marked as completed.

[2015-03-13 15:34] #304 closed

[2015-03-16 19:48] jumpkick commented on #282
So, I just got this error a few minutes ago.

I installed autopkgr and used munkiadmin.install.   After munkiadmin was installed I set-up munki_repo in /Users/Shared/munk_repo.

Switching back to AutoPkgr I was greeted with an error that said something about munk repo was undefined, so I added /Users/Shared/munki_repo to the Munki Integration section and that error was resolved.

Next I tried to r

[2015-03-16 20:46] jumpkick commented on #282
When I run "which git" I get:
/usr/bin/git
which is a stub that prompts me to install XCode.

Could it be a path issue where  /usr/local/git/bin/git is not being called to install makepkginfo?

[2015-03-16 20:58] jumpkick commented on #282
my best guess at this is it is the same bug as autopkg#23, specifically

~/Library/AutoPkg/Cache/com.github.autopkg.munki.makecatalogs/receipts/source/munki/code/tools/make_munki_mpkg.sh

does

    GIT=`which git`

Which likely causes the following to fail because it's resolving git to the Xcode stub, unless XCode+git is installed.

    # Copy command line admin utilities.
    # edit this if list

[2015-03-16 22:05] jumpkick commented on #282
By running AutoPkgr from a console window, I have determined and can reproduce the error in the console by executing the following line that was logged in StdErr/StdOut:

     /usr/bin/python /usr/local/bin/autopkg run --recipe-list "/Users/ged/Library/Application Support/AutoPkgr/recipe_list.txt" --report-plist /var/folders/r1/06v25rcd2tn_hf2kcxjmzt040000gn/T/com.lindegroup.AutoPkgr/2015031618011

[2015-03-16 22:40] eahrold commented on #282
munkiadmin is not the same as munkitools, and that's what you want

Install the munki core from here.
https://github.com/munki/munki/releases/tag/v.2.2.3

[2015-03-17 12:41] sheagcraig commented on #309
So @robbybarnes I took a quick look at the Amazon stuff, and how to configure it in Casper. I've got a ton of projects in flux right now that I really need to keep working on, but you could do some investigation to help move this along.

First, I have an open issue on python re: CDP's, of which an AWS DP is one type sheagcraig/python-jss/issues/22. My request in that instance was to try setting up

[2015-03-17 16:21] da4ftso commented on #230
Still happens for me.  AutoPkgr 1.2.1 (726) on 10.9.5 w/ latest Chrome 41.

[2015-03-17 22:58] ToddToddTodd commented on #230
It's still happening for me on AutoPkgr Version 1.2.1 (726) & OS 10.10.2 & Chrome 41.0.2272.89 (64-bit)

[2015-03-18 15:13] homebysix opened #313 "Repos update, and then nothing happens"
I've seen this happen 2 or 3 times during my use of 1.2.1:

1. Launch AutoPkgr and click the menu bar icon > Run AutoPkg Now.
2. Observe that the repositories all update.
3. Observe that the progress gets stuck on the last repository, and does not continue to "Processing [recipe name]..."

Canceling and re-running seems to resolve this most times, but it would be nice to get to the bottom of it. N

[2015-03-18 15:18] Tecnico1931 commented on #313
+1

[2015-03-18 15:26] homebysix opened #314 "Text element overflows when JSSImporter update is available"
![kj68br2y9jglqc9gw5vqtgvekumcbpo3l9pcepg-sdy](https://cloud.githubusercontent.com/assets/7801391/6712154/613cf6f6-cd48-11e4-9ae5-33f3abfaf345.png)

[2015-03-18 17:26] eahrold commented on #313
Does it seem to not doing the `autopkg run ...`, or just not updating the status in the menu?

[2015-03-18 17:40] jumpkick commented on #313
I'm having a problem with "Run AutoPkg Now" as well...    It stalls at "Running Selected AutoPkg recipes"

Checked verbose logs, then ran as follows:
cd /Applications/AutoPkgr.app/Contents/MacOS && /AutoPkgr

Gets stuck here:
  2015-03-18 13:36:39.858 AutoPkgr[5801:176306] [DEBUG] Completed AutoPkg Task:
    /usr/bin/python /usr/local/bin/autopkg version
  2015-03-18 13:37:35.372 AutoPkgr[5801:176

[2015-03-18 17:45] eahrold commented on #253
New version of JSSImporter / python-jss takes care of this.

[2015-03-18 17:45] #253 closed

[2015-03-18 17:45] eahrold commented on #313
@jumpkick, is it possible you're having this issue?
https://github.com/lindegroup/autopkgr/issues/230

[2015-03-18 19:00] homebysix commented on #253
Amazing!

[2015-03-18 19:02] homebysix commented on #313
@eahrold It seems not to be doing `autopkg run` at all. The status in the menu sticks, but I don't see packages appear in the Cache folder.

@jumpkick I'm with Eldon, I think that sounds like a different issue than the one @Tecnico1931 and I are having.

[2015-03-18 19:12] jumpkick commented on #313
@eahrold @homebysix you guys are right it's #230.  I quit chrome and I was able to get AutoPkgr to run autopkg.   My bad, sorry about that.

[2015-03-18 20:57] everetteallen opened #315 "Truncation of Package names in email notifications"
I am seeing packages that I name with dashes (-) in them have the name truncated at the first dash in the email text.
Example email---
The following software is now available for testing:

UNCSystem: 36.0.1
---
Package name:
UNCSystem-AutoPKGR-Firefox-36.0.1.pkg

For the record the prefix is a string added in an override recipe.

Maybe there is an email template I need to adjust?

[2015-03-18 21:40] homebysix commented on #315
Hi @everetteallen -

We're using the %VERSION% information if autopkg provides it (which is usually the case if a .pkg recipe has run). However, when that's not available, we're falling back on other methods to parse the version.

Munki's standard nomenclature is SoftwarePackageName-1.2.3 with the name and version separated by a dash. @eahrold might be able to say for sure, but I suspect we're try

[2015-03-19 02:31] eahrold commented on #313
@homebysix, @Tecnico1931  what's the last `[DEBUG]` message you see before things seem to stall out?

[2015-03-19 02:32] #302 closed

[2015-03-19 02:36] eahrold commented on #315
@everetteallen this is the same as Here #307.
This branch should fix that issue https://github.com/lindegroup/autopkgr/tree/v1.2.2-DontBreakOnUnderscore.

@homebysix did you have a chance to test drive that branch to see if the results were OK by you?

[2015-03-21 21:46] tbridge opened #316 "Email notifications not authenticating"
Hi folks,

I'm setting up email notifications to use our server, which is Kerio Connect running 8.4.0. The server is rejecting my credentials, though, no matter how carefully I input them.

This is the debug log from our server on failure:

[21/Mar/2015 17:42:12][4522610688] {smtps} Task 5647 handler BEGIN
[21/Mar/2015 17:42:12][4522610688] {smtps} Task 5647 handler starting
[21/Mar/2015 17:42:12]

[2015-03-22 22:24] mtaylor934 opened #317 "Error when trying to re run workflow"
Hi,

I'll begin by saying this might just be something I am doing wrong or not know how to do.

Just investigating the Self Service safe method and was able to get it working. Had a few questions / issues:

1) The username and password required for the JSSImporter, does this account also need to exist in AD with read/write permissions for the DP?
2) Successfully ran the workflow for one Adobe Flas

[2015-03-25 12:38] everetteallen commented on #315
Looks like this fixes my issue. Any timing on 1.2.2 ?  This is the last issue keeping me from moving to production package pump.

[2015-03-25 14:39] eahrold commented on #315
@everetteallen,
So AutoPkg 0.4.3 is currently in the works which includes an overhaul to the `--report-plist` we use to generate the e-mail text.  We may put out a smaller 1.2.2 than originally planned to get ahead of that change, but it's hard to say exactly when.

@homebysix what do you think, want to try for next week?

[2015-03-25 15:59] homebysix commented on #315
@eahrold Sounds good to me. Let's keep 1.2.2 limited to just the `--report-plist` change.

[2015-03-25 18:49] jonvdp opened #318 "None Type object has no attribute group"
Since the last update i'm getting the following error code
![screen shot 2015-03-25 at 1 45 42 pm](https://cloud.githubusercontent.com/assets/11652948/6832627/b3ca0f6e-d2f5-11e4-9589-d0a352b81bf3.png)
Any ideas on how to fix it?

[2015-03-25 18:51] eahrold commented on #318
Normally this is an issue with an actual recipe or override.
Mind posting the traceback from the system log.

[2015-03-25 18:59] jonvdp commented on #318
3/25/15 1:57:04.470 PM AutoPkgr[6365]: (FULL AUTOPKG TRACEBACK)
  File "/usr/local/bin/autopkg", line 1469, in <module>
    sys.exit(main(sys.argv))
  File "/usr/local/bin/autopkg", line 1463, in main
    exit(subcommands[verb]['function'](argv))
  File "/usr/local/bin/autopkg", line 1287, in run_recipes
    autopackager.process(recipe)
  File "/Library/AutoPkg/autopkglib/__init__.py", line 466, i

[2015-03-25 19:04] eahrold commented on #318
Ok this is an python-jss / JSSImporter issue. mind running a simple `mount` from the CLI and posting _that_ output.

[2015-03-25 19:16] jonvdp commented on #318
It's on a VM, i don't know if it makes a difference

/dev/disk0s2 on / (hfs, local, journaled)
devfs on /dev (devfs, local, nobrowse)
map -hosts on /net (autofs, nosuid, automounted, nobrowse)
map auto_home on /home (autofs, automounted, nobrowse)
.host:/VMware Shared Folders on /Volumes/VMware Shared Folders (vmhgfs)
/dev/disk1s2 on /Volumes/AutoPkgr (hfs, local, nodev, nosuid, read-only, noowner

[2015-03-25 21:32] eahrold commented on #318
@jonvdp I think this is answer you seek, https://github.com/sheagcraig/JSSImporter/issues/35

[2015-03-26 14:12] jonvdp commented on #318
that did it...thank you!

[2015-03-26 14:12] #318 closed

[2015-03-26 22:20] homebysix opened #319 ""This class is not key value coding-compliant for the key Service Description""
Saw this exception in my logs today:
[code]
Any ideas where that's happening?

[2015-03-26 22:22] eahrold commented on #319
I this this is that Carbon Copy Cloner launchd.plist issue. Are you running CCC on this machine?

[2015-03-26 22:29] eahrold commented on #319
@homebysix, was this during background run or when triggered manually?

[2015-03-26 22:30] homebysix commented on #319
The CCC app is installed, but no schedules are active. `sudo launchctl list | grep ccc` shows no results.

[2015-03-26 22:30] homebysix commented on #319
This happened when manually clicking Run AutoPkg Now from the configuration window (not the menu).

[2015-03-26 22:38] eahrold commented on #319
Would you mind going over your launchd.plist files and seeing if any have a key called `Service Description` with a space. I'm guessing you have one with an incorrect key that should be `ServiceDescription` with no space, and changing this would put a band-aid on the issue.

Also I'm pretty sure it's unrelated to the autopkg run, and actually happens because of the firstResponder in the UI.

Eithe

[2015-03-26 22:41] homebysix commented on #319
Sure enough:
[code]
I'll back up the original, change it to `ServiceDescription`, and unload/reload it.

[2015-03-26 22:49] #319 closed

[2015-03-26 22:57] eahrold commented on #319
I just went over the AHLaunchJob class and realized I'm already catching the exception, and just logging it https://github.com/eahrold/AHLaunchCtl/blob/master/AHLaunchCtl/AHLaunchJob.m#L297-L302

So it's not that crucial, I'll put a debug wrapper around it so it doesn't log on release builds.

[2015-03-30 19:53] jhowe-sgs commented on #317
I am seeing similar behavior.

Mac OS X 10.9.5
Git 1.9.5
AutoPkg 0.4.2
AutoPkgr 1.2.1

Steps to reproduce.

1. Open AutoPkgr Preferences...
2. Click on **"Repos & Recipes"**
3. Enable https://github.com/autopkg/recipes.git
  * Enable AdobeFlashPlayer.download
  * Enable GoogleChrome.download
  * Enable Handbrake.download
  * Enable Silverlight.download
  * Enable TextWrangler.download
  * Enable T

[2015-03-30 19:57] jhowe-sgs opened #321 "Update Repos Now timeouts with simple download recipes"
I am currently seeing this behavior. It also appears that scheduled process are not running either ( I noticed when I missed a Chrome update ).

Mac OS X 10.9.5
Git 1.9.5
AutoPkg 0.4.2
AutoPkgr 1.2.1

Steps to reproduce.

1. Open AutoPkgr Preferences...
2. Click on **"Repos & Recipes"**
3. Enable https://github.com/autopkg/recipes.git
  * Enable AdobeFlashPlayer.download
  * Enable GoogleChrome.do

[2015-03-30 20:27] henningkessler opened #322 "no scheduled run"
hello,

I installed a AutoPkgr (version 1.2.1) onto an existing Autopkg installation (0.4.2) on an 10.9.5 OS X Server. Everything seams to run nicely. Only issue is that Autopkgr doesn't run the configured automatically updates. The LaunchDeamons are installed and loaded and when i run the command inside of the application or from the cli with
[code]
everything seams to be okay.

the only thing I

[2015-03-30 21:18] eahrold commented on #322
@henningkessler,
Thanks for the report.

The AHLaunchJob exception is actually a caught exception an won't cause a problem. It's there because CarbonCopyCloner is using a value in it's launchd.plist that is not a valid key (cccTaskDict). In the next release it will get silenced. It's similar to this issue #319

The  `SecOSStatusWith error:[-34018]` is a known Apple issue, and we've tried a number

[2015-03-30 21:20] eahrold commented on #321
@jhowe-sgs, Could it be the same as issue #230?

[2015-03-30 21:47] henningkessler commented on #322
you are welcome and thanks for the explanations.

but do you have an idea why the automatically runs are not started?

[2015-03-30 22:35] jhowe-sgs commented on #321
Yes, quit Google Chrome 41.0.2272.89 and "Update Repos Now" processes correctly.

Reinstalled Chrome Version 41.0.2272.104 (64-bit) and Autopkgr runs as expected.

That's evil Google Chrome.

[2015-03-30 23:49] eahrold commented on #321
That's funny you say that.
The branch I use to try and solve this issue is this...
https://github.com/eahrold/autopkgr/tree/v1.2-evil-chrome

[2015-03-31 00:49] eahrold commented on #322
When you do `sudo launchctl list com.lindegroup.AutoPkgr.schedule` what's the `LastExitStatus` key?

[2015-03-31 10:05] parm75 opened #323 "Error running update"
Hi, Can anyone explain why I get this error??

Thanks

Traceback (most recent call last):
  File "/usr/local/bin/autopkg", line 1469, in <module>
    sys.exit(main(sys.argv))
  File "/usr/local/bin/autopkg", line 1463, in main
    exit(subcommands[verb]['function'](argv))
  File "/usr/local/bin/autopkg", line 1287, in run_recipes
    autopackager.process(recipe)
  File "/Library/AutoPkg/autopkglib

[2015-03-31 12:24] eahrold commented on #322
There is another possible explanation I just thought of. Is there a chance you enabled the schedule and then moved the AutoPkgr app to a different folder?

[2015-03-31 12:50] henningkessler commented on #322
Hi eahrold,

thanks for all the hints. Even when this gets embarrassing  for me I have to say it just started to work yesterday evening after I finished my work. Is it possible that the scheduled runs don't start as long the application is active? Or maybe it started after I changed the schedule a couple of times?

anyway this is the current (working) output:
[code]
and no I haven't moved the app

[2015-03-31 12:50] #322 closed

[2015-03-31 14:55] homebysix commented on #323
HI @parm75, do you know what recipe triggered this error? You can run this command in Terminal to find out:
[code]

[2015-03-31 14:57] parm75 commented on #323
Hi @homebysix,

I only have one as we are testing autopkgr and autopkg. It'll be Firefox

thanks

PArm

[2015-03-31 15:03] homebysix commented on #323
Which `Firefox.jss` recipe is it? The default is [Shea Craig's recipe](https://github.com/sheagcraig/jss-recipes/blob/master/Firefox.jss.recipe), but there are also `Firefox.jss` recipes available in novaksam-recipes and rtrouton-recipes.

And you've got the latest version (1.2.1) of AutoPkgr? Which version of Casper?

[2015-03-31 15:45] parm75 commented on #323
So:
Casper is 9.65
Autopkgr is 1.2.1
the recipe is Shea's
Thanks

[2015-03-31 15:47] homebysix commented on #323
How are your distribution points set up? For example, they could be file share distribution points, JDSs, or cloud distribution points.

[2015-03-31 15:50] parm75 commented on #323
they are all FDP's. I'm only targeting one at the moment, the other two are not listed in autopkgr window.

[2015-03-31 15:55] homebysix commented on #317
Hi @mtaylor934,

The username and password required for JSSImporter is for an account with access to the Casper API. Check out [step 2 here](https://github.com/lindegroup/autopkgr#integration-with-casper) to see the specific permissions the account requires.

The account should not need to exist anywhere else. As long as the JSS knows the credentials, it will pass them along to the API user.

I no

[2015-03-31 16:00] homebysix commented on #323
Did the error happen again when you ran the `autopkg` command above in Terminal? Or did that one go through OK?

[2015-03-31 16:04] parm75 commented on #323
yup, same error in terminal.

[2015-03-31 16:14] homebysix commented on #323
If it also happens at the Terminal, I suspect it's not related to AutoPkgr. Maybe if we summon the wisdom of @sheagcraig, he can suggest how we can troubleshoot the Python traceback.

[2015-03-31 16:25] sheagcraig commented on #323
The traceback says: ```xml.etree.ElementTree.ParseError: not well-formed (invalid token): line 9, column 42``` while it's trying to build a new policy.

Since this recipe works just fine here, I imagine that something that has been injected into it is causing invalid XML. I would look for any non alphanumeric characters in any of the values that would end up in the policy.

Are you using any overr

[2015-03-31 17:00] parm75 commented on #323
Hi, I am using overrides, here is the run details:

MACTEST2:~ cusdb$ autopkg run -vvvv Firefox.jss
Processing Firefox.jss...
{u'API_PASSWORD': u'@V620hpr',
 u'API_USERNAME': u'autoupdate',
 'AUTOPKG_VERSION': u'0.4.2',
 u'CATEGORY': u'Productivity',
 u'DESCRIPTION': u'Web Browser.',
 u'GIT_PATH': u'/usr/local/git/bin/git',
 u'GROUP_NAME': u'Firefox-update-smart',
 u'GROUP_TEMPLATE': u'/Users/cusd

[2015-03-31 17:02] parm75 commented on #323
MACTEST2:~ cusdb$ autopkg run -vvvv Firefox.jss
Processing Firefox.jss...
{u'API_PASSWORD': u'xxxxx',
 u'API_USERNAME': u'xxxxx',
 'AUTOPKG_VERSION': u'0.4.2',
 u'CATEGORY': u'Productivity',
 u'DESCRIPTION': u'Web Browser.',
 u'GIT_PATH': u'/usr/local/git/bin/git',
 u'GROUP_NAME': u'Firefox-update-smart',
 u'GROUP_TEMPLATE': u'/Users/cusdb/Library/AutoPkg/RecipeOverrides/SmartGroupTemplate.xml',

[2015-03-31 17:03] parm75 commented on #323
We are using overrides as per @homebysix instructions on https://github.com/homebysix/auto-update-magic

[2015-03-31 17:11] sheagcraig commented on #323
@parm75 Thanks for the info.

Can you also show me your policy template file; specifically the one here: ```/Users/cusdb/Library/AutoPkg/RecipeOverrides/PolicyTemplate.xml```

The error actually says "line 9, column 42". Is that broken in some way?

I think it's actually failing when trying to parse that XML file as XML, so I (hope) there's something exactly there (L9, C42) that is messed up!

[2015-03-31 17:42] homebysix commented on #323
@parm75, I highly recommend changing the password for the "autoupdate" API user and the "casperdp3" distribution point user. Everybody on this thread received the passwords in plaintext when you submitted a pre-sanitized version of the response above.

[2015-03-31 21:38] mtaylor934 commented on #317
Thanks for the reply.

It seems the process if falling over at a couple of different stages.

1)  If a recipe tries to run and the targeted software has not updated since last time, you will get the Object Conflict error (have tested new recipes to work fine, but reoccurring ones do not).  Is there a setting I am missing for this? (this is in regard to your tip to run the recipe manually)

2)  Whe

[2015-04-01 07:34] parm75 commented on #323
ok, found it, typo in that line. There was a back slash instead of a forward slash.
Thanks for the help guys.

[2015-04-01 12:58] #323 closed

[2015-04-02 18:04] homebysix commented on #316
@eahrold @futureimperfect Any thoughts on this?

[2015-04-03 02:41] eahrold commented on #316
I was actually working on this a while back and got side tracked.

Mailcore2 framework does support other authentication methods. @tbridge here's a link to a build you can use to test https://github.com/eahrold/autopkgr/releases/tag/v1.2.2-smtp, there's info on the release page about setting the defaults. Post back if you have any questions.

[2015-04-06 22:53] jhowe-sgs commented on #321
Did I say Chrome Version 41.0.2272 fixed this? It crept back again. I leave my browser running for several days at a time. I noticed I wasn't getting updates again. Quick Chrome, and update work again. Some sort of long running Chrome cron evil?

[2015-04-06 23:36] eahrold commented on #321
Not surprising, same with #230, and it's been perplexing. Once I am able to reproduce it on one of my dev machines I should be able to fix it, but until then I'm not sure what else to do. If you come up with any specific conditions which reproduce it such as specific open tabs, logged in accounts, etc... please let us know and keep trying to make it happen.

But I'll start by trying to leave chrom

[2015-04-07 00:53] jhowe-sgs commented on #321
I tend to hyper-browse as well ( multiple windows open with multiple tabs ). What happened to Chrome sandboxing everything?

[2015-04-08 13:12] esantiago commented on #287
Having the same issue. Still looking for solution.

[2015-04-08 13:28] eahrold commented on #287
@myztikoot, @esantiago
Sorry for the delay, I missed this issue originally...

Do either of you have usernames / passwords with special characters? There are a few special characters we may not be handling correctly. If so would you mind posting the characters you are using (only the special characters in any random order).

Thanks

[2015-04-08 13:53] esantiago commented on #287
Hi,

No special characters in the password.
Just a mix of Upper case and lowercase letters with numbers.

[2015-04-08 14:53] esantiago commented on #287
A couple details.
Currently running OSX 10.10.2
JSS version 9.7 running on windows server 2012
File share distribution point is an SMB Share.
API user is an AD user- All admin rights given on JSS.

[2015-04-08 20:40] tbridge commented on #316
I haven't had luck with this yet, @eahrold . I've tried integers 1, 3 and 8, and no joy.

[2015-04-09 12:46] eahrold commented on #316
@tbridge, Were you seeing the same errors server side?

[2015-04-11 16:31] homebysix opened #325 "More informative errors if git or autopkg aren't installed"
Right now, if you skip the install tab and try to add a repo straightaway, you'll get an error that could easily be misinterpreted as a problem:
![screen shot 2015-04-11 at 8 34 54 am](https://cloud.githubusercontent.com/assets/7801391/7101969/2bd1fc00-e026-11e4-940b-a4f5a624b002.png)
The "Try to repair settings" button is a red herring. Without autopkg or git, it's useless anyway.

Instead, maybe

[2015-04-13 15:42] homebysix commented on #217
Also: https://github.com/tburgin/AbsoluteManageExport

[2015-04-14 13:53] eahrold commented on #321
@jhowe-sgs,
Any more info you can provide please post to  #230.

[2015-04-14 13:53] #321 closed

[2015-04-14 13:56] eahrold commented on #297
@mgrevtech, has this been solved by the latest JSSImporter.

[2015-04-14 14:04] eahrold commented on #313
@homebysix, were you able to get more info on this?

[2015-04-14 15:45] homebysix commented on #313
Nope, hasn't happened since.

[2015-04-14 16:48] homebysix opened #327 "Manually uninstalling JSSImporter causes AutoPkgr to think that AutoPkg isn't installed"
Steps to reproduce:

1. Remove folders starting with `python_jss` from /Library/Python/2.7/site-packages.
2. Launch AutoPkgr, notice that it thinks AutoPkg isn't installed.
3. Attempt to reinstall AutoPkg, but behavior remains the same.
4. Attempt to restart helper tool, but behavior remains the same.

[2015-04-14 17:13] eahrold commented on #327
What's happening is removing python_jss like this actually causes AutoPkg (because of JSSImporter's now unmet dependencies) to crash. Running autopkg via the cli results in a traceback.

Since the AutoPkg installer leaves JSSImporter in place reinstall of AutoPkg won't resolve the issue.

Reinstalling JSSImporter _will_ fix.

I'll see if I can come up with a sensible approach to solving this issue

[2015-04-14 17:25] homebysix commented on #327
We discovered that removing `/Library/AutoPkg/autopkglib/JSSImporter.py` in addition to the above files seems to do the trick.

Would be nice to have an "Uninstall JSSImporter" option in AutoPkgr. Maybe holding Option on the Install tab turns everything to Uninstall? I'll think more on it.

In the meantime, you're right — having a sensible way to detect and report on situations like this would be

[2015-04-14 18:23] homebysix opened #328 "What would you call AutoPkgr?"
The fact that AutoPkgr and AutoPkg have such similar names is obviously intentional, but has caused some confusion among admins who are new to the AutoPkg ecosystem. Since these admins are AutoPkgr's exact target audience, we should do everything possible to _reduce_ confusion. This may include, at some point, changing the name of AutoPkgr.

For now, we're just brainstorming. But if anybody has su

[2015-04-14 19:28] poundbangbash commented on #328
Just riffing here..take em or leave em.

PkgManager
PkgReporter
PkgBank
UpdateFactory
AutoMinion
AutoPkg Monitor

VersionTracker v3
Executive Vice President of AutoPkg (all the credit, none of the work)
Packager's Clearing House

[2015-04-14 19:36] gerardweese commented on #328
AutoPkgRecipeManager
AutoPkgRecipeScheduler

[2015-04-14 19:43] homebysix commented on #328
I think we're trying to get away from names with "AutoPkg" in them, to make it clear that we're not associated with the AutoPkg core team.

[2015-04-15 01:00] jameslbrown opened #329 "Error running recipes - Python exception."
Have just started getting this error:

A Python exception occurred during the execution of autopkg, see the console log for more details.
[ERROR] xml.parsers.expat.ExpatError: not well-formed (invalid token): line 1, column 0

Log shows:
15/4/2015 10:55:40.075 am AutoPkgr[90541]: Processing com.github.autopkg.pkg.Office2011Updates...
15/4/2015 10:55:40.761 am AutoPkgr[90541]: (FULL AUTOPKG TRACEBA

[2015-04-15 01:28] poundbangbash commented on #329
Make sure you update the recipe repos. There were some changes in some of them today due to changes in the software offerings. I believe the office downloader was one.
'autopkg repo-update all' will do it.

-Eric

[2015-04-15 01:44] eahrold commented on #329
@jameslbrown, there are two distance errors here.
The first ( Python exception) could be outdated recipe as @poundbangbash suggested.

The keychain error is completely separate, does sending a test e-mail succeed?

[2015-04-15 01:53] jameslbrown commented on #329
Thanks for the replies.

Running 'Update Repos Now' from the Schedule tab in AutoPkgr didn't fix the problem. Running 'autopkg repo-update all' just tells me 'Already up-to-date.'

Re keychain error, first time I saw this was when looking at the logs for Python exception. I receive emails from AutoPkgr fine.

James.

[2015-04-15 02:04] eahrold commented on #329
@jameslbrown, are you using an override or are you running the base recipe?

[2015-04-15 02:21] jameslbrown commented on #329
Just the built-in ones:

MSOffice2011Updates.pkg com.github.autopkg.pkg.Office2011Updates

from https://github.com/autopkg/recipes.git

James.

[2015-04-15 02:25] eahrold commented on #329
This is the page that is supposedly is corrupt, does it look correct to you?
http://www.microsoft.com/mac/autoupdate/0409MSOf14.xml

[2015-04-15 02:34] jameslbrown commented on #329
I'm really not qualified to say! :-(

[2015-04-15 02:58] eahrold commented on #329
No problem,

For now I'd just disable it for a day or so and see if it gets fixed.
If it's not resolved then, you should start an issue on the [AutoPkg Recipe issue board](https://github.com/autopkg/recipes/issues), they may have more insight as to what's causing this particular error.

[2015-04-15 04:02] mgrevtech commented on #297
@eahrold Hey eldon, I had to enable HTTP distribution on our JSS eventually to workaround this issue. So I could not tell you for sure if it is fixed with SMB or not. When I get a chance, I could give it a try and turn off HTTP.
Anyways, Autopkgr has been working smoothly for me ever since. And with latest JSSimporter.
Thanks for following up on this!

[2015-04-15 15:18] eahrold commented on #297
@mgrevtech I'm fairly sure it should be fixed now. I'll close this issue and if you do get a chance to test and are still experiencing the issue just re-open with any new details.

Thanks.

[2015-04-15 15:18] #297 closed

[2015-04-16 17:26] #325 closed

[2015-04-16 17:49] #329 closed

[2015-04-16 17:55] #12 closed

[2015-04-16 18:39] homebysix commented on #313
I finally saw this happen again while testing 1.2.2. Here's what I did:

1. Opened AutoPkgr.
2. Clicked "Update Repos Now," waited until completion.
3. Click "Run AutoPkg Now."

The app got stuck at the following:
![screen shot 2015-04-16 at 11 35 41 am](https://cloud.githubusercontent.com/assets/7801391/7188475/e72fc3d8-e42c-11e4-843b-3f600b0443a7.png)

Here's the log output, including debug logs

[2015-04-16 19:43] homebysix commented on #313
I may have found a clue in Activity Monitor. Here's what it looked like while AutoPkgr was running:
![screen shot 2015-04-16 at 12 40 42 pm](https://cloud.githubusercontent.com/assets/7801391/7189760/f618bd7e-e435-11e4-94c4-1170881f2a1e.png)

And here's what it look like after I quit AutoPkgr:
![screen shot 2015-04-16 at 12 41 00 pm](https://cloud.githubusercontent.com/assets/7801391/7189764/fdf5b

[2015-04-16 20:14] eahrold commented on #313
Could the second process is be a hung background run that's having the exact same issue as the main app and stalling out on 'autopkg run`.

And you're not running Chrome? It looks like it's hanging at the exact same place as [above](https://github.com/lindegroup/autopkgr/issues/313#issuecomment-83079979)

How reproducible is this for you at this time? Doing it constantly?

[2015-04-16 20:25] homebysix commented on #313
Dammit, I thought I had proved that Chrome was uninvolved. However, you're right — when I quit Chrome, it started working again.

OK, let's focus on #230. I'll open this up if I get it to misbehave without Chrome running.

[2015-04-16 20:25] #313 closed

[2015-04-17 21:07] homebysix opened #332 "More granular and comprehensive uninstall options"
Looks like there are a few files that remain even after using the built-in Uninstall option in the AutoPkgr menu.

Can we give users the option of removing only the components they don't want, or removing everything at all? Something like this:

![screen shot 2015-04-17 at 2 05 17 pm](https://cloud.githubusercontent.com/assets/7801391/7210941/e26e0bc8-e50a-11e4-9e18-0fbf67e63c2f.png)

The effect o

[2015-04-17 22:31] jazzace opened #333 "GUI mis-counts completed recipes when you Run AutoPkg Now"
If you opt to Run AutoPkg Now (button in Schedule tab), the resulting progress bar correctly reports the number of total recipes but over-reports the number of recipes completed. Examples attached (the one with "StopProcessingIf" in it may give a clue as to what extra messages are being counted as recipes). This bug seems to have appeared in the 1.2 release and is still present in 1.2.1. Tested on

[2015-04-18 00:11] eahrold commented on #333
@jazzace,
Thanks for the report.

Currently the increment is based on a string from the AutoPkg stdout containing the word "Processing", we should definitely switch that to a string that begins with with "Processing ".

I suspect it will help. I'll update this ASAP.
Thanks again.

[2015-04-21 13:15] novaksam opened #334 "Autopkgr stops running after ~20 recipes"
I'm not sure if it's just me, but it seems like autopkgr stops running after about 20 recipes. I initially thought it might be an issue with particular recipes (GoogleDrive, Handbrake, etc) but it appears that it has some sort of issue processing more than 20.

I can provide the list of recipes I'm using if it would be helpful in debugging.

[2015-04-21 14:10] eahrold commented on #334
Yeah, go ahead and post the contents of your `~/Library/Application Support/AutoPkgr/recipe_list.txt`. And let us know on which recipe it hangs.

And using Activity Monitor, could you see if you have any excessive memory/cpu usage at the time it stops.

[2015-04-21 14:24] novaksam commented on #334
local.pkg.CasperSuite
local.jss.AdobeAIR
local.jss.AdobeAcrobatProXUpdate
local.jss.AdobeDigitalEditions
local.jss.AdobeFlash
local.jss.AdobeReader
local.jss.AdobeShockwavePlayer
local.jss.Audacity
local.jss.Compressor
local.jss.Dropbox
local.jss.Evernote
local.jss.FinalCutPro
local.jss.Firefox
local.jss.GarageBand
local.jss.GoogleChrome
local.jss.Github
local.jss.Keynote < Locking up
local.jss.Mi

[2015-04-21 14:24] novaksam commented on #334
No spikes or anything like that, it seems to just stop processing after a certain point.

[2015-04-21 14:35] eahrold commented on #334
@homebysix, I don't have have the the AppStore apps like Keynote, Pages, and Numbers.
Do you have an env where you could test this list?

[2015-04-21 19:48] homebysix commented on #334
I routinely run 34 recipes on one of my Macs (including .download, .pkg, and .jss recipes) without trouble. @novaksam, does it always stop processing after the same "certain point" or does that point change unpredictably?

I haven't used the AppStoreApp recipes yet, but I'll set up a test environment to play with those.

[2015-04-21 19:50] novaksam commented on #334
It seems to stop on certain ones. I've noticed it stopping on GoogleDrive, Handbrake and now Keynote.

[2015-04-21 19:52] homebysix commented on #334
@novaksam, what happens if you run `autopkg run GoogleDrive.jss -v` in Terminal? Does it succeed?

Same with Handbrake and Keynote?

[2015-04-21 20:46] novaksam commented on #334
Those work fine, I have a script that runs the recipes in a for loop and it never seems to bail out.

I'll try running them verbose and seeing what it says.

[2015-04-21 20:49] novaksam commented on #334
Processing local.jss.Keynote...
PathListCopier
PathListCopier: Found version 6.5.2 in file /Applications/Keynote.app/Contents/Info.plist
PathListCopier: Found version 6.5.2 in file /Volumes/Storage/AutoPkg/Cache/local.jss.Keynote/Keynote/Applications/Keynote.app/Contents/Info.plist
PathListCopier: versions match! Not copying.
EndOfCheckPhase
PlistReader
PlistReader: Reading: /Volumes/Storage/AutoP

[2015-04-21 20:49] novaksam commented on #334
Perhaps there's an issue running processors for some of these other recipes?

[2015-04-21 21:03] homebysix commented on #334
This part is interesting:
[code]
Do you know what's going on there?

[2015-04-21 21:05] novaksam commented on #334
It's unmounting the JSS shares.

[2015-04-21 21:14] homebysix commented on #334
Are the shares really called CasperShare, CasperShare-1, CasperShare-1-2, and CasperShare-1-2-3, or is that auto-incrementation caused by duplicate share names?

[2015-04-21 21:22] novaksam commented on #334
Yeah it's auto incrementing.

[2015-04-22 14:39] novaksam commented on #334
I just ran the same autopkg command that autoPkgr uses without issue.

/usr/bin/python /usr/local/bin/autopkg run --recipe-list "/Users/adm/Library/Application Support/AutoPkgr/recipe_list.txt" --report-plist /var/folders/33/hvd2nwbx54z0t7gqb4k_f4sc0000gn/T/com.lindegroup.AutoPkgr/20150422080739 -v

[2015-04-22 16:05] eahrold commented on #334
@novaksam,
There is some indication in the `/usr/bin/sample` you took that could indicate an underlying buffer getting filled up from STDOUT of the AutoPkg that AutoPkgr uses to process UI updates. I'm looking into this a bit more and will keep you posted.

[2015-04-22 17:57] everetteallen commented on #327
I continue to see this problem on a clean install of 10.10.3.  Everything works but AutoPKGR will not show that JSSImporter is installed.

[2015-04-22 23:20] homebysix commented on #327
Hi @everetteallen — the original symptom I reported only occurs after trying to manually remove the /Library/Python/2.7/site-packages/python_jss* folders. Is that what you did?

If so, I recommend one of two options:
- If you want to continue using JSSImporter, reinstall it using the latest package [here](https://github.com/sheagcraig/JSSImporter/releases/latest).
- If you'd rather remove JSSImpor

[2015-04-22 23:20] #327 closed

[2015-04-23 02:56] eahrold commented on #334
@novaksam, I've played around with the I/O a little bit, mind giving this build a test...
https://dl.dropboxusercontent.com/u/120270/AutoPkgr/AutoPkgr_issue%23334.zip

[2015-04-23 13:22] novaksam commented on #334
It's currently hanging on OracleJava8JDK

AutoPkgr sample:

Sampling process 40660 for 3 seconds with 1 millisecond of run time between samples
Sampling completed, processing symbols...
Analysis of sampling AutoPkgr (pid 40660) every 1 millisecond
Process:         AutoPkgr [40660]
Path:            /Users/adm/Desktop/AutoPkgr.app/Contents/MacOS/AutoPkgr
Load Address:    0x1025a5000
Identifier:

[2015-04-23 13:23] novaksam commented on #334
AutoPkg sample:

Sampling process 40672 for 3 seconds with 1 millisecond of run time between samples
Sampling completed, processing symbols...
Analysis of sampling Python (pid 40672) every 1 millisecond
Process:         Python [40672]
Path:            /System/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python
Load Address:    0x1075b3000
Identifier:      Py

[2015-04-23 14:18] eahrold commented on #334
@novaksam
Looks like there still is some sort of buffer issue. This is what leads me to this ` __write_nocancel (in libsystem_kernel.dylib) + 10 [0x7fff8754e97a]`

This may help...
[code]

I may put up some more builds for you to test if that's OK.

Thanks,
Eldon

[2015-04-23 14:21] novaksam commented on #334
I'm running it now with that new default in place and I'll report back if it stalls.

[2015-04-23 14:21] eahrold commented on #334
@novaksam
Also could you put the `samples` you take in a [Gist](https://gist.github.com) and just post the link, navigating this issue is getting a bit tricky.

Thanks...

[2015-04-23 14:23] novaksam commented on #334
Can do, I'll update the past posts into gists.

[2015-04-23 14:49] novaksam commented on #334
It completed the whole list without stalling; I'm guessing you're right about the buffer filling up.

[2015-04-23 15:01] eahrold commented on #334
Wow! That's actually somewhat unexpected, I'll have to look into this more.
Run a few more times periodically today and let us know either way whether things stall out again.

Thanks,
Eldon

[2015-04-23 15:38] eahrold commented on #334
Also are you using the custom build I put up?
If so would you mind trying with the Release version?

[2015-04-23 15:39] novaksam commented on #334
Sure, I'll try the release.

[2015-04-23 15:46] novaksam commented on #334
Yeah it works fine with the latest release too.

[2015-04-23 17:11] davidmnelson opened #335 "Email SSL option can't be toggled while authentication is disabled"
The checkbox to switch SSL on or off is not selectable (ie. faded out) unless you have authentication turned on.

So if you are not using authentication but you want to enable or disable SSL, you must enable auth temporarily, toggle the SSL option, then turn auth back off.

Recommend moving the SSL checkbox out of that grouping so it is next to the general server settings instead, and not linked t

[2015-04-24 00:04] homebysix commented on #258
Here's a cleanup script for removing old Munki stuff. Maybe we could do something similar (configurable, and off by default of course).

https://grpugh.wordpress.com/2015/04/24/munki-how-to-remove-cruft/

[2015-04-24 14:06] eahrold commented on #334
@novaksam,
I just rewrote the error handler to progressively collect the stderr.
https://www.dropbox.com/s/i5cnl6pb8ct378m/AutoPkgr-ErrorHandler.zip?dl=0

Would you mind turning back on the JSS_WARNINGS and see if this new build fixes the original issue?
`defaults write com.github.autopkg JSS_SUPPRESS_WARNINGS -bool False`

[2015-04-24 17:02] homebysix commented on #333
Yeah, looks like this is definitely related to the StopProcessingIf processor, which I see in the AppStoreApp series of recipes:
[code]
Thanks @eahrold for handling it!

[2015-04-24 17:55] novaksam commented on #334
It looks like that re-write did the trick. It's going through all the recipes without stalling.

[2015-04-24 17:56] eahrold commented on #334
Excellent!
Thanks for all your help working through this.

[2015-04-24 17:57] novaksam commented on #334
No problem! Glad we got it figured out.

I'll close the issue now.

[2015-04-24 17:57] #334 closed

[2015-04-24 18:26] #335 closed

[2015-04-24 18:42] homebysix commented on #317
Hi @mtaylor934,

Regarding __1)__ When a .jss recipe runs for the first time, the `-v` output will look something like this:
[code]
On subsequent runs, you'll see "Package upload not needed." The processor will also skip other unneeded steps, like uploading the icon and creating the smart group:
[code]
I'd be curious to see the JSSImporter output from your `autopkg run AdobeFlashPlayer.jss -v` to

[2015-04-24 18:52] #315 closed

[2015-04-24 18:52] #307 closed

[2015-04-24 19:24] homebysix opened #339 "FileWave integration"
A portion of FileWave users have expressed interest in seeing AutoPkgr integrate with FileWave for automatic import of newly packaged software. I'm currently researching the scope of this request, and will have more details soon.

[2015-04-24 22:00] #333 closed

[2015-04-24 23:46] homebysix opened #340 "Improve appearance and behavior of "Last AutoPkg Run" status in menu"
### Part 1:

It seems that the status item in the menu only "listens" for updates from AutoPkg after the menu bar is showing. Therefore, it's possible to click on the menu and have it show "Last AutoPkg Run" even while an AutoPkg run is currently in progress.

Steps to reproduce:

1. Start an AutoPkg run by clicking Run AutoPkg Now (in either the Schedule tab or the menulet).
2. Mid-way through th

[2015-04-25 02:33] eahrold commented on #340
I've got the fix for part 1 stashed. I'll push that soon.

Part 2 should be an easy enough fix, and just a matter of adjusting the NSDateFormater to the desired style.

[code]

[2015-04-27 15:25] johncclayton commented on #339
Hi.  I'm helping with the research - more news soon.

[2015-04-27 15:53] eahrold commented on #339
Hey guys,

Just to go on record, we should really consider that this is probably best handled at the AutoPkg level, i.e a FileWaveImporter shared processor. Any actual importing would be outside of the scope of AutoPkgr.

The good news on our side is I am currently revamping the LGTools class, making it an Abstract Class, which will allow us to easily add and manage new "tools" like this via subcl

[2015-04-27 15:57] homebysix commented on #339
@eahrold That's exactly what I was thinking. If somebody writes a FileWaveImporter shared processor, then our job will be pretty straightforward. More details coming soon from @johncclayton I believe.

[2015-04-27 19:08] everetteallen opened #341 "Customization of the Email Template?"
It would be a wonderful enhancement if the emails that are sent could be customized from templates.
On the other hand maybe there should be an email processor for autopkg...

[2015-04-27 19:19] homebysix commented on #341
I agree, an email template could be nice. It could be an .html file in ~/Library/Application Support/AutoPkgr that has variables like %NAME% and %VERSION% in it.

That being said, I'm working to make the default emails as attractive as possible. Open to suggestions!

[2015-04-27 21:36] homebysix commented on #340
I changed to the "short" date format in order to remove seconds. Is there something we can do to remove the time altogether, if the run happened earlier than "yesterday?" Time Machine follows that pattern:
![mac-timem-barentertime](https://cloud.githubusercontent.com/assets/7801391/7358521/b53f3b6c-ecea-11e4-88ea-0cec4987861f.png)
![time-machine-enter](https://cloud.githubusercontent.com/assets/78

[2015-04-28 16:41] homebysix commented on #340
Looks like the current beta branch relative dates aren't working quite right. My status says "Today, 2:30 PM" even though it's only 9:39 AM right now.

Feature request: Ability to run AutoPkg in the FUTURE! :-)

![screen shot 2015-04-28 at 9 39 25 am](https://cloud.githubusercontent.com/assets/7801391/7375031/af0f5772-ed8a-11e4-8790-048b418af947.png)

[2015-04-29 03:17] eahrold commented on #340
OK.
I think I got it figured out.
What's happening is the date gets set from the `[NSDate date]` as a string into defaults. So when it was written it was "Today, 2:30" but that was actually yesterday at 2:30 I'm guessing.

I'll switch it around to set it as a date and then read it as a string which should solve this.

[2015-04-29 04:52] homebysix opened #342 "Enhancement: Utilize `autopkg info` command"
Tonight in IRC @timsutton mentioned a great feature idea. AutoPkg has an "info" verb that we're not using yet, but which might be useful to expose in AutoPkgr.

For example, `autopkg info Firefox.pkg` produces:

[code]

My ideal GUI for this would be something in line with what iTunes does when you display file properties. The properties aren't editable, so they're just displayed in a neatly forma

[2015-04-29 05:09] homebysix commented on #340
I think as a result of this, my AutoPkgr helper tool also failed to trigger any AutoPkg runs today. Probably because it was expecting to parse a datetime and found a string instead? Not sure.

I'll test to see if your commit changes that tomorrow. Thanks!

[2015-04-29 05:29] eahrold commented on #340
Just for clarity AutoPkgr helper tool isn't responsible for triggering the AutoPkg run, launchd is.
The only thing the helper tool does is create the launchd.plist and then load it, i.e. the /Library/LaunchDaemon/com.lindegroup.AutoPkgr.schedule.plist

I'd be surprised if this was actually causing that issue because the LGDefaults class should handle the possibility of the object that is passed in

[2015-04-29 19:13] eahrold commented on #230
@homebysix,
So I was thinking about what could have been causing your schedule run to hang as you mentioned in https://github.com/lindegroup/autopkgr/issues/340#issuecomment-97130979, and I suspect that it may be another side effect of this issue.

The AutoPkg(r) runInBackground could also stall the same way that "Run AutoPkg Now" does. If that occurred launchd wouldn't run the job on it's subsequ

[2015-04-30 14:55] homebysix commented on #340
Yeah, the scheduler seems to have quit. It's been stuck on "Today, 2:30 PM" for two days now, and no entries in the log to indicate background runs.

[2015-04-30 15:00] homebysix commented on #287
@esantiago @myztikoot — What happens if you run one or two .jss recipes by themselves at the command line:
[code]
I'd be interested to see whether that succeeds. If so, try the same recipes again in AutoPkgr, with verbose logging turned on (hold Option while clicking on the menu bar icon to activate verbose logging). Then filter for AutoPkgr in Console.app and see what results you find.

[2015-04-30 15:35] eahrold commented on #340
Run this and see if you have an stalled background run...
`ps -e -o command= | grep runInBackground`

the run this and see if the autopkg run actually stalled tool...
`ps -e -o command= | grep autopkg`

if either of these is stalled gist me a sample of it...

[2015-04-30 18:07] homebysix commented on #340
False alarm. The scheduled run stall is related to #230. Ugh.

[2015-04-30 18:07] #340 closed

[2015-04-30 18:09] homebysix commented on #230
@eahrold Chrome is starting to block AutoPkgr pretty regularly lately. I've tried closing one tab at a time and re-running to see if it's related to a particular tab or website, but the problem persists even if Chrome doesn't have any windows open at all.

Feel free to branch/build and I'll test.

[2015-05-01 12:00] mikaellofgren opened #343 "Some default values in overrides"
Hi
It would be great to have some default (empty) values for overrides.
We often change Locale, munch_repo_subdir, catalog
<key>LOCALE</key>
        <string>en_US</string>

<key>MUNKI_REPO_SUBDIR</key>
        <string>apps/firefox</string>

<key>catalogs</key>
                <string>testing</string>

regards
Mikael

[2015-05-01 13:59] eahrold commented on #230
@kylevitale, @ToddToddTodd , @gerardweese , @da4ftso , @jhowe-sgs, @jumpkick, @Tecnico1931

Good news! I thing we got this fixed.
If you're interested in trying out a testing version out please grab this...
https://dl.dropboxusercontent.com/u/120270/AutoPkgr/AutoPkgr-ChromeFix.dmg

Long story short, we currently thing the problem wasn't Google Chrome's injecting anything into python or autopkgr as

[2015-05-01 15:15] homebysix commented on #230
Nice job @eahrold! This was such an annoying bug. Glad that it's squashed!

[2015-05-01 17:37] n8felton opened #346 "Add support for Pre and Post Processor"
Documentation here: https://github.com/autopkg/autopkg/wiki/PreAndPostProcessorSupport

[2015-05-01 17:48] n8felton commented on #328
PackagingPro
PkgPro

Going off the current icon:
Baggage
Baggage Check[er|r]

Going off "Jenkins" and "Alfred": http://en.wikipedia.org/wiki/List_of_fictional_butlers

I know you're trying to avoid "AutoPkg" but in the spirit of "MunkiAdmin"; AutoPkgAdmin
(Personally at that point I like AutoPkgr better)

[2015-05-01 19:34] futureimperfect commented on #328
ANA: AutoPkgr's Not AutoPkg!
PARDIS: Packaging and Relative Dimension in Space

[2015-05-05 16:22] homebysix opened #347 "Enhancement: Integrate with MacPatch"
A [MacPatchImporterProcessor](https://github.com/SMSG-MAC-DEV/MacPatch-AutoPKG) was recently released. Let's explore how easy/difficult it would be to make that part of AutoPkgr's integration options.

[2015-05-05 16:29] eahrold commented on #347
Sounds good...
I'm doing an overhaul of the LGTools, making it an abstract class.
Once we get that done we should be able to redesign the UI for all of the new tools we're considering (FileWave, AbsoluteMange, etc...)

We should probably move to individual panels to "Configure" for each of the tools, and  check boxes / buttons to enable / configure on the integration tab.

[2015-05-05 16:35] homebysix commented on #347
Yep, that's just what I was thinking. I may add a couple more integration requests as they come to me. Hopefully they'll all be relatively straightforward to implement once that LGTools class is present.

[2015-05-05 20:14] mpudenz opened #348 "AFP error -5023"
We started to get this error after the latest update to the JSS importer.
Git 2.2.1
AutoPKGR 0.4.2
JSS Importer 0.3.8

Any help would be great!

mount_afp: AFPMountURL returned error -5023, errno is -5023
A Python exception occurred during the execution of autopkg, see the console log for more details.

[ERROR] subprocess.CalledProcessError: Command '['mount', '-t', 'afp', 'afp://CasperAdmin:*****